[2019-04-02 14:57] grd349 opened #3 "Add MS/SG stars to the database"
Right now the database for the priors is based on red giant stars only.

We need to add in dnu, numax, Teff, & epsilon for a bunch of MS/SG stars.

A natural sample would be KAges + LEGACY + TWhites  stars.

[2019-04-03 11:06] nielsenmb opened #5 "Hard coded number of radial orders"
`nn = np.arange(np.floor(nmax-5), np.floor(nmax+6), 1)`

in

PBjam/pbjam/asy_peakbag.py

The number of radial orders that are fit should depend on the frequency window being used

[2019-04-03 11:08] nielsenmb opened #6 "Gaussian priors on asymptotic fit"
In PBjam/pbjam/asy_peakbag.py

Gaussian priors should be added to relevant parameters in the asymptotic fit.

Or remove them entirely?

[2019-04-03 11:12] nielsenmb opened #7 "KDE priors on asymptotic fit"
In
PBjam/pbjam/asy_peakbag.py

KDE priors should be added to nu_max, Dnu, epsilon, Teff, more(?).

At the moment we only use uniform priors defined by `bounds`

[2019-04-03 11:18] nielsenmb opened #8 "self.seff_offset = 4000.0"
In PBjam/pbjam/asy_peakbag.py

`self.seff_offset = 4000.0` is hard coded in both the model and mcmc classes.

grd349 suggests this should be inherited from epsilon

[2019-04-03 11:28] #7 closed, assigned to nobody

[2019-04-04 13:02] ojhall94 opened #11 "Suggest epsilon call functions as staticmethods"
This is just a suggestion, I don't know if it makes things easier. Instead of having the following. Its really a comfort thing so minor minor enhancement, can worry about this in the far future.

[code]

We could change this to be a static method, so:

[code]

[2019-04-04 13:40] ojhall94 opened #12 ".asypeakbag should also return a dataframe of mode IDs and locs"
I think it it would be intuitive to have .asypeakbag return a dataframe of mode ID's and locs for l=0, 2, and 1 when concerning main sequence stars. Returning the samples is good too, as we can use them as priors on the peak bagging, but I think option to return one or the other or both would be good!

[2019-04-26 13:50] nielsenmb opened #16 "importing within functions"
What's the reason (if any) to import modules etc. within a function?

Like:
[code]

I've noticed it a few places, why not just import them at the top like everything else?

[2019-04-26 14:33] #16 closed, assigned to nobody

[2019-04-26 14:34] #5 closed, assigned to nobody

[2019-04-29 13:07] #12 closed, assigned to nobody

[2019-04-29 15:05] #8 closed, assigned to nobody

[2019-04-29 15:06] nielsenmb opened #17 "Seff has to be handled better by epsilon and asy_peakbag"
How? I don't know.

[2019-04-29 15:08] nielsenmb opened #18 "Automatic PSD to SNR or add white noise"
At the moment asy_peakbag works best on SNR since it doesn't include a constant offset term.

So either we include a 'white noise' term in the asy_peakbag model, or we make a function that computes an SNR from a PSD automatically (perhaps we can use the on in grd349s KeplerData?)

[2019-04-29 15:11] nielsenmb opened #19 "Create option to kwargs to asy_peakbag functions"
asy_peakbag needs a way to pass optional arguments to e.g. `emcee.EnsembleSampler()` and `epsilon()`.

[2019-04-29 15:12] ojhall94 opened #20 "Make sure to set 'normalization='psd'' when using lightkurve.periodogram!"
Since lightkurve v1.0.0., `lightkurve.LightCurve.to_periodogram()` defaults to amplitude on the y axis. Make sure to use the `normalization='psd'` kwarg when calling, or it totally messes up our SNR spectrum.

[2019-04-30 17:09] grd349 opened #21 "Add convergence tests to mcmc class in asy_peakbag"
We really need to test for convergence, and if not converged run for longer.  This should be OK to include.  We should be able to use the auto correlation time from emcee to workout the effective number of samples and we should set some arbitrary value that this should exceed but we can err on the side of caution.

[2019-05-01 09:16] nielsenmb opened #22 "Monty Python reference"
Is it still considered 'highly recommended' to include a Monty Python reference in Python code?

[2019-05-01 13:58] #20 closed, assigned to nobody

[2019-05-01 14:01] ojhall94 opened #23 "asy_peakbag needs an up-to-date example"
Martin has made lots of changes to asypeakbag, and I don't understand how to use it anymore :) Could you maybe write a tutorial detailing how it works?

[2019-05-01 14:07] nielsenmb opened #25 "jar.py must be able to handle multiple quarters"
At the moment it can only handle 1 quarter/sector/campaign per target, lightcurves .download() only handles 1 quarter at a time.

Should be able to handle with by embedding in a loop and concatenating the output? Not sure how to_periodogram would react to that.

[2019-05-01 14:39] nielsenmb opened #26 "no. of enn to do mode ID on needs to be data driven"
At the moment it's manually set when doing jar.star.asymptotic_modeid(norders = X).

It should be data driven, at least as an initial rough estimate. The best-fit asymptotic relation can then probably be extrapolated to another 1-2 radial orders on either side of numax, subject to some H0 test?

[2019-05-01 14:46] nielsenmb opened #27 "boundaries for asy_peakbag should be set more cleverly"
At the moment the boundary for the EMCEE fit in asy_peakbag is set by +/- 5 times the error around the mean, for many of the parameters.

It works, but ideally it should be set a bit more cleverly.

For example if the error on epsilon is very small, it will truncate anything that comes out of the KDE prior completely.

[2019-05-07 08:57] #22 closed, assigned to nobody

[2019-05-07 09:07] grd349 opened #28 "BlueBEAR tests"
We are getting close to the point where we need to run tests on lots of stars.  I have setup a few scripts so that I can run on BlueBEAR.

I'm quiet pleased

Things to do to get us up and running:

- [x]  Decide on a list of stars as test cases (this can be expanded later)
- [x]  Store the output from the runs in a way that is useful
- [x]  Make sure @ojhall94 @nielsenmb have access to the outputs

[2019-05-07 15:31] #23 closed, assigned to nielsenmb

[2019-05-16 13:24] #17 closed, assigned to nobody

[2019-05-16 13:26] #11 closed, assigned to nobody

[2019-05-16 13:28] #3 closed, assigned to grd349

[2019-05-16 13:37] grd349 opened #31 "Update KDE interaction in asy_peakbag"
I have now added a bp_rp treatment into epsilon and it's KDE.  This means that asy_peakbag no longer works.

We need to update asy_pb to use the new version of the KDE with the bp_rp functionality.  Most important thing is to make sure we have all of @nielsenmb lovely new stuff in the master branch before I/we start tinkering with asy_pb.

We also need some tests on stars near the subgiant phase.

[2019-05-16 14:47] nielsenmb opened #34 "asy_peakbag needs output plot method"
Already part of the Example.ipynb, just need to add it as a method in the star class.

[2019-05-16 15:11] grd349 opened #35 "OK - so the example now uses jam_sess etc which will need to be updated to work with bp_rp."
OK - so the example now uses jam_sess etc which will need to be updated to work with bp_rp.

_Originally posted by @grd349 in https://github.com/grd349/PBjam/pull/33#issuecomment-493106197_

Martin - could you look at this?

[2019-05-17 10:11] #31 closed, assigned to grd349, nielsenmb

[2019-05-17 10:14] nielsenmb opened #36 "updated epsilon values for prior_data.csv"
I've been refitting for epsilon, to update the prior_data.csv file, to homogenize the RG, SG and MS stars from the various different samples. I've only gotten through the RG stars so far.

For the most part the median values seem to fall fairly close to the original values, but the errors seem substantially larger. Is this something to worry about? Errors are mean(diff([16th,50th,84th]))

The fits

[2019-05-17 12:27] nielsenmb opened #37 "error on bp_rp"
Gaia bp_rp doesn't have error, but precision is on the order of 10mmag at Gmag = 15, should this be supplied by user? Or do we hard-code it?

[2019-05-17 14:27] #37 closed, assigned to nobody

[2019-05-21 12:31] #18 closed, assigned to nobody

[2019-05-21 12:32] #19 closed, assigned to nobody

[2019-05-21 12:40] #34 closed, assigned to nobody

[2019-05-21 13:39] #35 closed, assigned to nielsenmb

[2019-05-22 06:07] #6 closed, assigned to nobody

[2019-05-23 07:30] #25 closed, assigned to nielsenmb

[2019-05-27 05:56] nielsenmb opened #41 "how does statsmodel.nonparametric.KDEMultivariate() work?"
I'm trying out an idea to get an initial guess for Dnu if it isn't given during the session init.

It just takes the product of the acf of a window around numax, and the numax, dnu, Teff, bp_rp kde.pdf() generated from prior_data.csv (yes that feels like mathematical butchering to me too).

Using just a dnu, numax KDE from Scipy, it works pretty well, except for Dnu < 3muHz, so I wanted to try

Ho

[2019-05-27 09:42] nielsenmb opened #42 "kde.pdf() from guess_epsilon should be in log?"
Could be mistaken, but at the moment it looks like the output from kde.pdf() (from guess_epsilon, originally from the statsmodels KDE) is a linear probability, shouldn't it be logged?

[2019-05-28 06:39] #42 closed, assigned to nobody

[2019-05-28 07:20] #41 closed, assigned to nobody

[2019-06-05 09:30] nielsenmb opened #44 "short cadence should be preferred over long cadence"
when getting lightkurve to download the data, the short cadence data should be preferred, based on numax

[2019-06-05 09:33] nielsenmb opened #45 "ValueError on input variables that require 2 element lists (val, err)"
numax, dnu, teff and bp_rp have to be 2 element lists or lists of 2 element lists.

Need to raise an informative error message when PBjam only gets 1 element lists.

[2019-06-05 09:33] grd349 opened #46 "Add super nyquist functionality"
We should add super-nyquist functionality where 250muHz ~<  numax < ~500muHz and cadence=LC.

This should be easy to do but is an enhancement.

[2019-06-05 09:41] grd349 opened #47 "Set emcee nthreads to ?"
Set emcee threads to some value via a optional parameter in session (and star, and ...)

[2019-06-05 09:44] grd349 opened #48 "Limit epsilon to range [0.4, 1.6]"
This range needs a little thought.

[2019-06-05 09:45] grd349 opened #49 "Set sensible bounds on curvature term."
Lower bound could be zero.

Set sensible upper bound.

[2019-06-05 09:46] nielsenmb opened #50 "add white noise term to asy_peakbag"
in the asy_peakbag fit there is no white noise term, this will likely cause the line widths to be inflated.

[2019-06-05 09:46] grd349 opened #51 "Need linewidth prior"
Need a better prior on line width in asypeak bag.

There are some published relations on this.

[2019-06-05 09:51] grd349 opened #52 "plot_asyfit() - set probability range to something sensible."
x range of bottom right figure needs a better range.

[2019-06-05 09:52] grd349 opened #53 "Need a good prior on d02"

[2019-06-05 10:23] grd349 opened #54 "Version for statsmodels vs scipy"
There is a compatibility issue with statsmodels and scipy.

Currently need scipy==1.2.1 for statsmodels==0.9.0.

Figure this out at some point.

[2019-06-05 10:31] nielsenmb opened #55 "automatic download of Gbp_rp"
At the moment the Gbp-Grp color is a required input to PBjam.

Ideally this should be handled automatically by PBjam in the event that the user doesn't have this value.

This can be done by having PBjam look up the value in either stored crossmatched tables or online.

Initially this should be separate from the jar, epsilon, asy_peakbag etc. but if proven reliable it may be integrated more directl

[2019-06-05 10:34] #47 closed, assigned to nobody

[2019-06-05 12:46] grd349 opened #56 "Lightcurve nans"
Lightcurve contains NaN values. Use lc.remove_nans() to remove NaN values from a LightCurve.

Need to fix this.

[2019-06-05 13:47] nielsenmb opened #57 "make cleverer initial spread on initial walker positions"
This should ideally be a Gaussian centered on the initial guess with small spread, but truncated at bounds.

Possible solve this with Gaussian -> check if beyond bounds -> mirror around lower or upper bound n times until back within bounds.

Make function that takes the function to draw from, either multivariate Gaussian or kde.pdf(), for when we implement the kde on all the fit variables (issue #

[2019-06-05 14:39] nielsenmb opened #58 "plotting model lor doesn't match axvlines of best fit frequencies"
probably because of how best-fit model is generated compared to how the individual best-fit frequencies

[2019-06-05 14:52] #53 closed, assigned to nobody

[2019-06-05 14:52] #51 closed, assigned to grd349, nielsenmb

[2019-06-05 14:52] #49 closed, assigned to grd349, nielsenmb

[2019-06-05 14:53] #48 closed, assigned to nobody

[2019-06-05 14:55] grd349 opened #59 "Tidy up examples"
Place examples in same place and tidy up legacy examples.

[2019-06-05 15:05] nielsenmb opened #60 "docstrings"
Everywhere....

[2019-06-05 15:05] nielsenmb opened #61 "Write tests"

[2019-06-05 15:25] nielsenmb opened #62 "make combined prior for asy_peakbag fit parameters"
Collate prior data on linewidth (average over p-mode envelope?), d02, alpha

This can be done either based on previous work by other people, or by fitting high SNR targets with PBjam and then rejecting bad fits (bootstraps method).

Then finally construct KDE based on this prior data.

[2019-06-05 15:32] nielsenmb opened #63 "Update the readme"
To be done before beta testing prior to KASC.

Update based on beta test responses.

[2019-06-05 15:41] nielsenmb opened #64 "Check memory consumption on large lists of targets"
EMCEE and matplotlib figure instances are possible sources of memory leaks.

Check if this becomes an issue for large jobs ~100 tgts or more.

A small leak may be tolerable.

[2019-06-07 10:09] grd349 opened #65 "plot_asyfit Should be a method of asy_peakbag not star"
I feel like plot_asyfit should be a method of asy_peakbag not of the star class.

We should probably have something like

star.plot_asy_diagnostic()

which just then calls

asy_peakbag.plot_asyfit()

Does that make sense?

[2019-06-07 13:07] grd349 opened #66 "Context plots - Dnu-numax subtract PL trend"
I suggest we use a predefined power-law trend and subtract this from the numax data when plotting the dnu-numax context plot.

For example - numax_pred = alpha * dnu^beta

Then plot(dnu, numax - numax_pred).  This will leave less white space and put the data on a more manageable scale for the human eye.

[2019-06-07 13:50] #52 closed, assigned to nielsenmb

[2019-06-11 09:13] #58 closed, assigned to nielsenmb

[2019-06-12 15:21] nielsenmb opened #70 "Inspector crashed"
Following error message

11351140
11352756
11353313
11357004
Traceback (most recent call last):
  File "inspector.py", line 73, in on_good_button_clicked
    self.next_image()
  File "inspector.py", line 68, in next_image
    self.my_widget.show_image(self.idx)
  File "inspector.py", line 90, in show_image
    pixmap = QPixmap(sfile[0])
IndexError: list index out of range
Aborted (core dumped)

Ma

[2019-06-13 09:43] #66 closed, assigned to nielsenmb

[2019-06-17 06:26] #70 closed, assigned to grd349

[2019-06-17 13:10] #44 closed, assigned to nobody

[2019-06-18 09:19] grd349 opened #74 "pymc3 for the KDE"
Test if pymc3 NUTS sampler will work with the KDE.

[2019-06-18 09:33] grd349 opened #75 "Run MS/SG stars on Bluebear with current prior."
Run the remaining stars in prior_data.csv on BlueBEAR.

[2019-06-18 09:36] #27 closed, assigned to nobody

[2019-06-18 09:37] #28 closed, assigned to nielsenmb, ojhall94

[2019-06-18 09:44] #56 closed, assigned to nobody

[2019-06-18 09:46] #57 closed, assigned to nielsenmb

[2019-06-18 09:56] grd349 opened #76 "Generate read the docs or similar."

[2019-06-18 09:57] grd349 opened #77 "Session method - do it all"
probably self.__call__(...)

[2019-06-18 09:58] #62 closed, assigned to grd349, nielsenmb

[2019-06-18 11:54] grd349 opened #78 "When running the last 360 stars on BlueBEAR"
/rds/homes/d/daviesgr/Software/PBjam/pbjam/jar.py:532: UserWarning: Numax is greater than Nyquist frequeny for this data set
  warnings.warn("Numax is greater than Nyquist frequeny for this data set")
['pbjam_session.py', '153', '156']
Burningham
Sampling
Burningham
Sampling
Burningham
Sampling
Traceback (most recent call last):
  File "pbjam_session.py", line 39, in <module>
    fig = star.plot_a

[2019-06-18 12:40] grd349 opened #79 "Bug in cadence treatment?"
When adding in a list of cadences (in example below just ['short']) I get the following:

davies@phy-hrs-158:~/Projects/BlueBEARSuite/pbjam_session$ python3 pbjam_session.py 200 201
['pbjam_session.py', '200', '201']
[2382.916, 32.1]
['short']
Traceback (most recent call last):
  File "/home/davies/.local/lib/python3.6/site-packages/pandas/core/indexes/base.py", line 2657, in get_loc
    return se

[2019-06-18 14:01] nielsenmb opened #80 "session.record"
Create a session method that stores fit results

- [x] Pickle the star class instance
- [x] Save the asymptotic fit parameters to a csv file
- [x] Save the modeID to a csv file
- [x] savefig on diagnostic and corner plots
- [ ] Save any peakbagging result

[2019-06-18 15:47] #79 closed, assigned to nielsenmb

[2019-06-18 15:47] #78 closed, assigned to grd349, nielsenmb

[2019-06-18 16:54] grd349 opened #82 "Jam problem with lack of eps key"
['pbjam_session.py', '72', '75']
Traceback (most recent call last):
  File "pbjam_session.py", line 40, in <module>
    nthreads=1)
  File "/rds/homes/d/daviesgr/Software/PBjam/pbjam/jar.py", line 450, in __init__
    quarter=quarter)
  File "/rds/homes/d/daviesgr/Software/PBjam/pbjam/jar.py", line 104, in organize_sess_input
    if not X[key]:
KeyError: 'eps'

I don't pass in an eps array to the

[2019-06-18 17:12] grd349 opened #83 "Problem in session"
davies@phy-hrs-158:~/Projects/BlueBEARSuite/pbjam_session$ python3 pbjam_session.py 10 12
['pbjam_session.py', '10', '12']
/home/davies/Code/PBjam/pbjam/jar.py:220: UserWarning: Could not find long cadence data for 11401466 in cache, checking MAST...
  warnings.warn('Could not find %s cadence data for %s in cache, checking MAST...' % (lkwargs['cadence'], id))
Querying MAST
/home/davies/Code/PBjam/

[2019-06-18 17:54] nielsenmb opened #84 "module 'lightkurve' has no attribute 'open'"
Got the error in the title when running on my laptop, python 3.6 LightKurve version 1.0b20.

Running on office desktop works fine, which runs 1.0.0

Not sure what the difference is.

Might be something we have to worry about for installation process.

[2019-06-18 18:02] #80 closed, assigned to nobody

[2019-06-18 18:03] nielsenmb opened #85 "session.record should work with peakbagging results"
Currently only stores the asymptotic mode id results, and the figures.

[2019-06-18 18:03] #77 closed, assigned to nielsenmb

[2019-06-18 18:05] nielsenmb opened #86 "session.__call__ parallelized"
When doing session.__call__ on a large list of stars, it might be useful to parallelize the work.

It should be possible to start n number of workers and create sub sessions for each one, with a small batch of targets in each.

[2019-06-18 20:32] #74 closed, assigned to grd349

[2019-06-19 08:40] nielsenmb opened #87 "Directory cleanup"
Before release we should probably clean up the directories a bit. Mostly just the Examples and pbjam/data directories that need tidying up by the looks of it.

Examples/TFexample.ipynb
Examples/dev_guess_epsilon.ipynb

[2019-06-19 13:50] nielsenmb opened #88 "asy_peakbag, fit env_width and env_height as log10?"
Currently they're on a linear scale. Is it not easier to samples a log-normal distribution?

[2019-06-20 09:15] #83 closed, assigned to grd349, nielsenmb

[2019-06-20 09:15] #82 closed, assigned to nobody

[2019-06-20 11:05] #45 closed, assigned to nielsenmb

[2019-06-21 09:15] #88 closed, assigned to nobody

[2019-06-21 09:21] nielsenmb opened #90 "eschelle/ladder"
Andrea asked if PBjam can make eschelle diagrams.

I told him it's something we can add.

Do you have a snippet for you ladder plots? The one with the subplots, and the spectrum divided into chunks.

And if you have one for making the classic eschelles I can include that too. I think I have a function somewhere, but I'll need to dig it out.

[2019-06-21 13:33] nielsenmb opened #91 "'best-fit' model and median frequencies in asyfit plot still don't match"
Median frequencies (vertical lines) should be trusted over the model curve (red) in the plots.

Will make a small function that puts a lorentzian at each of the vertical lines.

[2019-06-25 11:23] grd349 opened #93 "Short cadence stars have poor LC's from lightkurve"
I ran a few simple tests and it looks like the SC lightkurves from Lightkurve are not quiet up to the job in terms of asteroseismology using the current settings.

I found a decent improvement by increasing the outlier rejection effect (sd=3 as a second pass).  We need to think about how this might impact the LC data and whether this should be set as a flag.

One option might be a global flag in e

[2019-07-02 07:03] grd349 opened #94 "Epsilon plot problem"
When plotting the posterior frequencies in epsilon I get worse results than when I plot the 'same' results as point estimates of the starting position for asy_peakbag.

The treatment is different but I'm surprised by the size of the difference.

This is possibly a bug in the logic in epsilon - need to check this out,

[2019-07-05 09:36] #94 closed, assigned to grd349

[2019-07-09 15:13] #93 closed, assigned to nobody

[2019-07-09 15:14] #91 closed, assigned to nielsenmb

[2019-07-09 15:14] #75 closed, assigned to grd349

[2019-07-09 15:14] #36 closed, assigned to nielsenmb

[2019-07-09 15:15] #65 closed, assigned to grd349, nielsenmb

[2019-07-11 10:09] nielsenmb opened #96 "peakbag is failing 75% of example stars"
Ran Example-Star.ipynb, and it worked fine. The pymc3 sampler warned about the gelman-rubin statistic and effective samples not being sufficient, but result looked OK.

Ran Example-Session.ipynb and every one of them reverted to:
 UserWarning: Failed on star 1433730
  warnings.warn(f'Failed on star {st.ID}')

Output follows:

Auto-assigning NUTS sampler...
Initializing NUTS using adapt_diag...
Mul

[2019-07-11 10:49] nielsenmb opened #97 "guess_epsilon and asy_peakbag have a lot of overlapping code"
guess_epsilon.kde_sampler is basically asy_peakbag.Prior.__call__()

I'll try to clean it up.

[2019-07-16 16:09] #63 closed, assigned to nielsenmb

[2019-07-17 18:37] #96 closed

[2019-07-17 18:50] #76 closed

[2019-07-17 18:50] #60 closed

[2019-07-18 09:01] grd349 opened #111 "Add travis CI"
@ojhall94 @nielsenmb   Shall we add travis CI to the repo?  We are now public so this should be easy to do.

[2019-07-18 09:47] ojhall94 commented on #111
We should for sure! Do we trust our unit tests?

[2019-07-18 09:58] nielsenmb commented on #111
I'd say we should, I'd also like to find one that does documentation
coverage checking.

On Thu, 18 Jul 2019 at 10:47, Oliver Hall <notifications@github.com> wrote:

[2019-07-18 10:00] grd349 commented on #111
We need more tests for sure - and we need more comprehensive and perhaps slow tests but we need more tests.

I have been playing with the @pytest.mark.slow decorator as suggested by @drstevenhale.  We could probably make use of this to build some end-to-end tests where we check the output mode frequencies.

And yes @nielsenmb - checking doc coverage would be an idea.  We can also do this as part o

[2019-07-18 10:01] ojhall94 opened #112 "Scipy.misc import failing when using peakbag.espilon()"
When attempting to run PBJam I get the following error:

[code]

This looks like it might be a scipy deprecation issue... My local machine is on Scipy 1.3.0. It looks like this is Issue #54 come back to bite us!

[2019-07-18 10:03] nielsenmb commented on #112
use Scipy 1.2.0

It says so in the docs! and in the in the setup.py

On Thu, 18 Jul 2019 at 11:01, Oliver Hall <notifications@github.com> wrote:

[2019-07-18 10:06] nielsenmb commented on #112
Ideally no, but at the moment I don't see a way around it.

On Thu, 18 Jul 2019 at 11:05, Oliver Hall <notifications@github.com> wrote:

[2019-07-18 10:12] grd349 commented on #112
When you pip3 install pbjam --user it should recognise the dependency and version for scipy and install 1.2.1.  Did you pip3 install?

This is a problem with statsmodels.  Could we:

1.  only import the function we need?
2. look at the statsmodels repo and report the bug to them and assume we'll get a fix soon.
3. are you sure pip3 doesn't take care of this for you?

[2019-07-18 10:20] nielsenmb commented on #112
Apparently a new version of statsmodels is compatible with 1.3.0, just came
out in June.

Oli is on the case.

On Thu, 18 Jul 2019 at 11:12, Guy Davies <notifications@github.com> wrote:

[2019-07-18 10:26] nielsenmb opened #113 "types of tutorials"
I was thinking of the ways we can present the various examples of what PBjam can do and how to interact with it.

To start with it's probably enough to have
example-session
example-star
example-advanced

But would it maybe be an idea in the future to restructure it so that in the docs we have

- Quick Start (basically example-session)
- Advanced (basically example-advanced)
- More Examples
   - Ho

[2019-07-18 10:27] ojhall94 commented on #111
Yeah great suggestion, I agree!

[2019-07-18 10:28] grd349 opened #114 "Acknowledge use of ..."
Pymc3
Emcee
Corner
Statsmodels
...

One to think about.

[2019-07-18 12:50] nielsenmb commented on #114
I wasn't quite sure what to add in the acknowledgements, I feel like if we acknowledge the above we should also acknowledge numpy, scipy, matplotlib?? The only distinction is just the number of people working on the projects.

[2019-07-18 13:22] ojhall94 commented on #114
Would it be better to list a software used/dependencies thing? We should cite them all in the paper as well.

[2019-07-18 13:54] nielsenmb commented on #114
The requirements are in the Installation section of the docs, so if that's
enough we don't really need an Acknowledgements section in the Readme.

On Thu, 18 Jul 2019 at 14:22, Oliver Hall <notifications@github.com> wrote:

[2019-07-18 14:11] nielsenmb opened #118 "ID must be int-able"
when getting lightcurves through lightcurve PBjam tries to convert the target ID into int, and fails if it's given something like KIC123456.

I suspect it's something to do with the dataframe column dtype

[2019-07-18 14:22] nielsenmb opened #119 "epsilon plot should have title"
Our Chaos Engineer was very confused about the epsilon plot.

Adding titles and labels might help.

[2019-07-18 14:25] nielsenmb commented on #90
Labels for l=0 and l=2 should probably be added, so people know what they are looking at.

Warrick suggested a potential enhancement. If the l=2  and l=0 ridges are split in two, the l=2 scale is not determined by the height of l=0, so they will be easier to see.

Also, I would suggest having the option of plotting a traditional eschelle, and the ladder one. The ladder becomes difficult to use whe

[2019-07-18 14:51] ojhall94 commented on #119
Seconded, I too was confused :)

[2019-07-18 15:18] nielsenmb opened #120 "what is MANIFEST.in?"
Just curious. It refers to prior_data2.csv which doesn't exist anymore.

[2019-07-18 15:18] ojhall94 opened #121 "Remove mad() from asy_peakbag.py now that Scipy is updated."
I'll do this after TASC.

[2019-07-18 15:59] #112 closed

[2019-07-19 09:42] nielsenmb opened #122 "PBjam can't find HD numbers in lightkurve cache"
At the moment PBjam can't find HD numbers in the cache. The reason being that it first strips the KIC/EPIC/TIC from the ID and then does a wildcard search in the carche directory.

The files are stored in the format relevant to the kepler, tess, k2 missions, e.g.,  tess2018263035959-s0003-0000000122555698-0123-s_lc.fits, HD lookups obviously wont work.

A potential solution to this would be to fir

[2019-07-19 09:43] nielsenmb commented on #118
traced this to the lightkurve cache lookup

Put in a fix that strips the KIC, EPIC etc. prefix from the target ID.

Ideally it should be smarter than this since you can give lightkurve HD numbers too.

See #122

[2019-07-19 09:43] #118 closed

[2019-07-19 09:48] nielsenmb opened #123 "TODO statements in the code should be more informative!"
They should probably say what there is to do :P

[2019-07-19 10:46] ojhall94 commented on #122
I will try and be the smart lightkurve person and fix this after lunch :)

[2019-07-19 11:12] ojhall94 commented on #122
I'm a little lost in the code around this. It's failing in `jar.py`, right? All the x_to_y() functions are pretty confusing to me.

So if I understand correctly:
- Starting a session will automatically check the cache for each ID.
- If nothing is found in the cache, it will check MAST and download the data through lightkurve.

I'm confused about what the error is--- is it that HD numbers will alwa

[2019-07-19 12:28] ojhall94 commented on #122
Had a chat with Martin:

It should be able to:
- Check if the star you want is in cache
- If this check fails (for example, if we have a HD number), search a lightkurvefile
- If is fails due to no connection to the internet, tell the user to put in the lightcurve themselves.
- Check the cache using the KIC or TIC identifier from search_lightkurvefile
- If this doesn't work, tell the user to put in

[2019-07-20 11:46] grd349 commented on #120
It makes sure the installation can find the prior_data.csv.  I have removed the reference to the prior_data2.csv file.

[2019-07-20 11:46] #120 closed

[2019-07-20 11:51] grd349 commented on #114
I'm not sure what protocol here is!  When we publish the paper we should cite all this software (regardless of team size, although I realise that ApJ has some sort of policy here).  I'll ignore this for now and check with, say DFM, what he would like from us on emcee and corner.

[2019-07-20 12:23] grd349 commented on #119
For whatever reason, plt.fill_between does not seems to be able to handle the label I give it - it just doesn't appear.  Will need to do this the old fashioned way.

[2019-07-20 12:28] grd349 commented on #119
Ignore me - we were missing a legend function and there was a legend because lightkurve was providing it.  I have fixed this now.  I went for the slightly cryptic but possibly accurate r'$\propto P(\ell = 0)$'.

<img width="1029" alt="Screenshot 2019-07-20 at 13 28 06" src="https://user-images.githubusercontent.com/14784265/61578645-43559300-aaf2-11e9-8dda-edf619b6fe46.png">

[2019-07-20 13:47] nielsenmb commented on #119
Should it not be \proptoP(\nu_{l=0})?

On Sat, 20 Jul 2019 at 13:28, Guy Davies <notifications@github.com> wrote:

[2019-07-20 14:06] grd349 commented on #119
Yes - it should be with the nu ... I'll fix.

[2019-07-20 14:53] grd349 opened #126 "New lightkurve functionality"
Lightkurve has new functionality - Oli knows more perhaps but this includes a stitch function among other things.  Shall we jump onboard and put everything we can into the examples?

I vote yes - it will be something todo for the TASC week.

[2019-07-20 14:57] grd349 opened #127 "Add K2 and TESS examples"
Mainly to see if we can.

@ojhall94 - can you suggest the two targets you have been looking at?  I'll see if anyone at TASC with a Lightkurve life membership can suggest the best way to treat the K2 systematics.

I can run these targets and then I'll ask ask for review.

[2019-07-20 15:25] ojhall94 commented on #126
Yeah! Instead of having to do all the appending by hand,

`lc = datalist.download_all().stitch()`

is a thing now!

[2019-07-20 15:27] ojhall94 commented on #127
You mean for my tutorial examples? TOI-197 for TESS and EPIC 201367296 for K2.

The notebooks are at www.github.com/ojhall94/TASC5_lightkurve :)

[2019-07-20 15:49] grd349 commented on #126
Awesome! Let's add it!

[2019-07-20 15:51] grd349 commented on #127
Cool - I'm wheels up in 20 so I'll look at those tomorrow! Good work.

[2019-07-20 15:51] grd349 commented on #127
Cool - I'm wheels up in 20 so I'll look at those tomorrow! Good work.

[2019-07-20 20:16] nielsenmb commented on #126
Hell yeah

On Sat, 20 Jul 2019, 16:49 Guy Davies, <notifications@github.com> wrote:

[2019-07-21 15:50] grd349 opened #128 "Make PBjam Pypi pip installable."
We need to get this done before Thursday.

[2019-07-21 15:50] #59 closed

[2019-07-21 15:51] #87 closed

[2019-07-21 15:51] #61 closed

[2019-07-22 15:03] #123 closed

[2019-07-22 15:40] ojhall94 opened #131 "Notes on docs"
I've gone through everything in readthedocs that isn't the API. These are my observations.

**Introduction**
- [x] We should change `pip install pbjam` to `pip install pbjam –user`

**Session**
- [x] Since this is the quickstart guide, we should add a couple of comments into the first sell, specifically on the make_plots and path parameters explaining exactly what they do.

- [x] On that note, we

[2019-07-22 17:38] grd349 commented on #127
Done in the examples in docs.  We should do this under the hood too.

[2019-07-22 17:41] grd349 commented on #126
OK - we have stitch in the docs examples.  We should add stitch under the hood too but later ...

[2019-07-22 17:41] #126 closed

[2019-07-22 17:43] #119 closed

[2019-07-22 18:08] grd349 commented on #90
There is an echelle diagram in lightkurve - we should use this code by passing a periodogram object to the plot the echelle function, just as in epsilon.plot()

I will look at this ...

[2019-07-22 18:14] ojhall94 commented on #131
Done with comments! As for the level of the content in the Advanced notebook (which looks sick, btw), we should give it to somebody with statistics skill but no involvement in this program to see if they can follow. Alex is a good shout, or perhaps Bill.

[2019-07-22 18:27] nielsenmb commented on #90
Sounds good to me. Might need to make our own down the line, but it's good
for now.

On Mon, 22 Jul 2019, 14:08 Guy Davies, <notifications@github.com> wrote:

[2019-07-22 19:44] grd349 commented on #90
All done and merged.

[2019-07-22 19:44] #90 closed

[2019-07-22 20:03] nielsenmb commented on #131
Thanks for the comments Oli, I don't have power on my laptop (forgot adapter at airbnb)

I'll fix session and star tomorrow.

[2019-07-22 20:11] nielsenmb commented on #54
Can this issue be closed now?

[2019-07-22 20:11] #54 closed

[2019-07-22 20:14] nielsenmb commented on #85
Do we still want a record function? Might want to have a generic recording class that works for all the steps. I'll close this for now.

[2019-07-22 20:14] #85 closed

[2019-07-22 20:25] nielsenmb opened #134 "should Inspector remain in this repo?"
In future it could be moved to the pbjam subdirectory and be polished to read pickled peakbag results. So it becomes a proper module in pbjam.

[2019-07-22 20:27] grd349 commented on #134
Good plan!

How long does it take to read in on of the pickled objects?  If it takes too long, shouldn't we stick to reading in the plots as these are quick?

[2019-07-22 20:28] grd349 commented on #134
We do need a little more effort on the inspectr.  Perhaps we should remove it and place it in a separate repo?

[2019-07-22 20:30] nielsenmb commented on #134
Yes, I agree, but only temporary, I like it as a simple way to review the results, instead of having to set a .py or .ipynb etc.

[2019-07-23 13:38] #84 closed

[2019-07-23 18:06] nielsenmb commented on #128
Done

[2019-07-23 18:06] #128 closed

[2019-07-23 18:07] nielsenmb commented on #134
Move Inspectr to separate repo, but make it public.

[2019-07-23 18:07] #134 closed

[2019-07-23 18:13] nielsenmb opened #137 "Inspectr needs to be updated"
This is an issue that is not critical to the functionality of PBjam itself.

Inspectr is a module that is semi-separate from PBjam itself, and is meant as a visualization interface to inspect the results from PBjam on a star by star basis.

It needs to be updated though, as it was developed initially during early days of PBjam.

Below is a list of idea for improving the Inspectr interface.

- [ ]

[2019-07-23 18:19] grd349 commented on #121
This is done in my add convergence tests pull request.

[2019-07-23 18:19] #121 closed

[2019-07-23 18:19] grd349 commented on #97
This is basically fixed in my latest pull request.   Closing.

[2019-07-23 18:19] #97 closed

[2019-07-23 18:20] nielsenmb opened #138 "Automatic and robust large sep. and numax"
PBjam currently relies on accurate values of numax and the large separation.

Ideally this should be measurable directly from the time series / power spectrum, in the event that previously measured values are not available.

Initially this module should be a separate module from jar, asy_peakbag, etc. but if it proves reliable it may be integrated more directly in, e.g., the session class.

[2019-07-23 18:20] grd349 commented on #21
Working on this - nearly finished.  See the pull request.  Closing.

[2019-07-23 18:20] #21 closed

[2019-07-23 18:21] grd349 commented on #138
Yes - we can use Oli's work in lightkurve but we'll need to add uncertainties.  I have an idea.

[2019-07-23 18:28] nielsenmb commented on #138
Me too!

On Tue, 23 Jul 2019 at 14:22, Guy Davies <notifications@github.com> wrote:

[2019-07-23 18:45] ojhall94 commented on #138
Yessss use lightkurve for first guesses!

[2019-07-23 19:09] nielsenmb commented on #138
But you told me yourself it doesn't always work!

I want <1% accuracy on 99.9% of targets!

We can/will enhance it though.

On Tue, 23 Jul 2019, 14:45 Oliver Hall, <notifications@github.com> wrote:

[2019-07-23 20:29] ojhall94 commented on #138
This sounds like a measurement, not a first guess 😛

But yeah we could totally improve or hack it to suit our needs better.

[2019-07-24 15:31] grd349 commented on #127
Done - Should we add words around the jam and then put in docs?

[2019-07-24 15:39] nielsenmb commented on #127
Secondary priority, if the reader follows the main notebooks, they should
be able to follow the TESS notebook.

I'll add a note under User Guides that there are more useful examples under
in the GitHub examples directory.

On Wed, 24 Jul 2019, 11:31 Guy Davies, <notifications@github.com> wrote:

[2019-07-24 15:41] grd349 commented on #127
Awesome - great.  Closing issue ...

[2019-07-24 15:41] #127 closed

[2019-07-24 15:48] grd349 opened #140 "Epsilon is missing from API read the docs"
We could possible also add the new mcmc module.

If you show me how to do this, I promise I will learn and not immediately forget.

[2019-07-24 15:52] nielsenmb commented on #140
I didn't want to add epsilon cause I felt like it should be renamed to KDE
or something similar.

It's easy to add new content to the api page. Will take 5mins to show you

On Wed, 24 Jul 2019, 11:48 Guy Davies, <notifications@github.com> wrote:

[2019-07-24 15:53] grd349 commented on #140
Yes - I was speaking with Christina Hedges and she had some ideas on how to improve the UI.  Right . now the names of our modules are a little bit obscure.  We might want to rename all of them :)

[2019-07-24 15:54] grd349 commented on #140
We should add it for now and then work on polishing up the UI.

[2019-07-24 16:03] ojhall94 commented on #64
So I recall from a previous project that, when running a bunch of MCMC stuff in a loop in a Jupyter Notebook, the memory isn't properly recycled until you exit the notebook. I'm not sure whether this is also the case if the MCMC code is done by a package written in .py though.

[2019-07-24 16:04] ojhall94 commented on #55
This could be probably be done with a neat SQL script. The Python implementation of SQL that I know how to use is broken now for some reason. We could maybe ask for Ted's help on this.

[2019-07-24 16:05] ojhall94 commented on #46
Note here: lightkurve is equipped to generate super-nyquist periodograms using the `nyquist_factor` kwarg.

[2019-07-24 16:07] nielsenmb commented on #64
Never use ipynb for big runs :)

It does get better when running emcee in a .py compared to ipynb, but emcee
still has some issues. Feel like we need to find someone who knows stuff
about memory handling in python.

On Wed, 24 Jul 2019, 12:03 Oliver Hall, <notifications@github.com> wrote:

[2019-07-24 16:10] grd349 commented on #64
DFM will be here tomorrow! 😁

[2019-07-24 16:12] nielsenmb commented on #55
Astroquery can do SQL lookups, and I think it can access MAST catalogs. The
TIC has gaia dr2 ids for probably 100% of relevant targets. Not sure about
the KIC and EPIC.

On Wed, 24 Jul 2019, 12:04 Oliver Hall, <notifications@github.com> wrote:

[2019-07-24 21:50] grd349 commented on #131
Bill had the following comments:

- [ ] Front page:   Tweak first line to “… oscillation spectra of solar-like oscillators.”
- [ ] “… with much fewer priors in place” Than what?
- [ ] Straight-forward à straightforward (more than one instance)
- [ ] Use guide: shown in the example below à shown in the examples below
- [ ] API: PBJam is can -> PBJam can

Bill also said:

- [ ] Tweak wording to refl

[2019-07-24 21:54] grd349 opened #141 "Add Bill as a chaos engineer (or tester or something)"
Should we drop the name chaos engineer in favour of contributor?

I feel yes ... (braces for response from @nielsenmb )

[2019-07-25 12:44] grd349 opened #142 "Asy_peakbag: add glitches to the model"
Some stars are showing such strong glitch signatures that it makes sense to consider adding glitches into asy_peakbag.

We know how to do this, but will need to generate some prior data.  We can probably use the Vrard results in the first instance to get things setup.

[2019-07-25 12:47] grd349 opened #143 "Add l=1 functionality."
We need to add l=1 functionality.  We need to setup a project to get this done.

We have to make some decisions about the methodology that we use.  We should setup a team to deliver this before the PLATO meeting in November.

[2019-07-25 12:52] grd349 opened #144 "KDE band width: automate"
We can get a modest speed up by using less stars in the KDE in epsilon.

Simply selecting all stars that lie within X (suggest 10) sigma for dnu and numax will do this.  We should then dynamically determine the band width using the cross validated maximum likelihood method.

This will also help a little as the band width will be optimised for the local region rather than optimised on the whole sam

[2019-07-25 12:56] grd349 opened #145 "Pass the epsilon object not the samples to asy_peakbag."
Currently we pass the epsilon samples into asy_peak bag - this is crazy, we should pass the whole epsilon class.  This will allow us to use the instance of epsilon that is already there as the prior in asy_peakbag.  This is just much better style compared with making a new instance as we (well I did it so my bad) at the moment.

[2019-07-25 13:03] grd349 opened #146 "MCMC class: drop walkers with low acceptance fraction"
We should remove any walkers with low acceptance fractions from the mcmc.flatchain.

This will remove some of the bad mini islands of walkers that tend to creep into the posteriors of asy_peakbag.  We should also run the burnin for longer because then `fold` will filter out more of these problem areas.  We should also think about the walker initialisation which is a little ad hoc right now.

[2019-07-25 13:04] ojhall94 commented on #142
I'd love to help implement this, I'd like some glitch knowledge.

[2019-07-25 13:10] grd349 commented on #142
All the info is in https://arxiv.org/abs/1505.07280 :) . It includes some relations that we can use as a starting prior.

We would probably add an exponential decay on top of the glitch sinusoid.

The work plan would be something like:

Implement the extra parameters and the extra term in the model in asy_peakbag.
Add a prior based on Vrard on the new parameters.
Run on lots of stars.
Use the resu

[2019-07-25 13:29] grd349 opened #147 "Peakbag: plot_echelle return fig"
The plot_echelle function of peakbag doesn't return the figure yet.  This is because I can't pass the axes into the lightkurve.seismology_plot_echelle function.   I think we might need to make this a lightkurve issue as I think @ojhall94 had expected the plot_echelle function to have this functionality.

[2019-07-25 13:33] nielsenmb commented on #145
Personally I would prefer to call epsilon inside asy_peakbag, or at least
leave it as an optional input. Makes it easier to use asy_peakbag.

On Thu, 25 Jul 2019 at 08:56, Guy Davies <notifications@github.com> wrote:

[2019-07-25 13:38] nielsenmb commented on #144
At the moment speed is irrelevant. Make it work, then optimize.

Anyway, sounds like it could work, but wouldn't it still be problematic in
sparse areas of the prior sample? If the errors on dnu and numax are set
too low.

On Thu, 25 Jul 2019 at 08:52, Guy Davies <notifications@github.com> wrote:

[2019-07-25 13:41] grd349 commented on #145
The way we have it right now we make two instances of the epsilon class and this takes more memory than a single class.  Also, there is over head in reading in the prior data and constructing the KDE.  We don't really need to do this.

There is also a possible speed up to be have from internally working `epsilon` to produce a multivariate description of the posterior to be used in asy_peakbag that

[2019-07-25 13:44] grd349 commented on #144
So it's working well now and this is a suggestion for V2.0.  Things will slow down as we add more and more prior data.  It will be 16 times slower in epsilon when we add the Yu sample - uh oh :)

I would suggest a catch that takes a minimum of 100 stars for the KDE to prevent problems when people use uncertainties that are too small.

[2019-07-25 14:48] nielsenmb commented on #145
This doesn't conflict with having epsilon called internally in asy_peakbag.

  internally working epsilon to produce a multivariate description of the

You'll have to explain this to me in more detail.

On Thu, 25 Jul 2019 at 09:41, Guy Davies <notifications@github.com> wrote:

[2019-07-25 14:50] nielsenmb commented on #144
True!

Yes that might work.

On Thu, 25 Jul 2019 at 09:44, Guy Davies <notifications@github.com> wrote:

[2019-07-25 14:56] nielsenmb commented on #144
Warrick did some profiling of the code though, and the lor function in
asy_peakbag was what ate up most of the time, calling the KDE from
statsmodels was a bit further down the list.

On Thu, 25 Jul 2019 at 10:49, Martin Nielsen <
martinbonielsen.astro@gmail.com> wrote:

[2019-07-25 15:01] grd349 commented on #144
A rough guide for a red giant with 4 years of data is that epsilon sampling runs at around 60 it/s on my laptop.  The asy_peakbag runs at around 30 it/s on my laptop.  This means typically that epsilon runs in ~ 30 secs and asy_peakbag in ~ 1min (+ a bit because of harder convergence).  So the KDE overhead in asy_peakbag is about half the time.

If we put 16000 stars in the prior it will take ~ 8

[2019-07-25 15:07] grd349 commented on #145
We can well approximate the posterior from `epsilon` as a multivariate normal distribution with mean mu and covariance cov.  i.e.,

P(M | D) ~ Mv(mu, cov)

The assessment of the log likelihood function of a multivariate Gaussian is easy to do (propto X cov^(-1) X^T) and this would be must faster to evaluate than the KDE.  It could make asy_peakbag much faster.

Make sense?

[2019-07-25 15:13] nielsenmb commented on #145
Sure, but how do you guarantee its Gaussian?

On Thu, 25 Jul 2019, 11:07 Guy Davies, <notifications@github.com> wrote:

[2019-07-25 15:19] grd349 commented on #145
If we did the KDE correctly it will be! :)

Besides, the KDE is already an approximation - another one wont hurt.

[2019-07-26 01:25] grd349 opened #148 "Examples: remove mydir for ./"
I keep running the examples and forgetting to change ./mydir to ./ and the code breaks because ./mydir does not exist.  We need to fix this ASAP.  It's a pain to run the code only to faile because the dir does not exist.

Do we,

1.  Change mydir to ./ in the examples.
2. Add directory creation if directory does not exist.
3. Both of the above.

I reckon 3. - thoughts from the team ...

[2019-07-26 01:45] grd349 commented on #131
Great job everyone - I think we have done all we can here for now.  I'm closing and we can make new issues as problems occur.

Thanks everyone - sterling work!

[2019-07-26 01:45] #131 closed

[2019-07-26 13:59] ojhall94 commented on #148
3! Directory creation is always safest imo

[2019-07-26 14:21] nielsenmb commented on #148
Sure, we can do that.

The notebooks in docs where never meant to be run though. Since they are
the ones that are show on readthedocs. They're meant to be read-only, so
that they don't disappear if there's a typo in the ipynb.

The ones you can play around with are in the Examples directory.

On Fri, 26 Jul 2019, 10:00 Oliver Hall, <notifications@github.com> wrote:

[2019-07-26 14:58] grd349 commented on #148
Good point - I didn't think about that.

We need to add text to the Examples :(

We should also do this fix anyway.  Perhaps people will follow the example by typing the instructions them selves.  It would still be annoying for it to fail.

[2019-07-26 15:21] nielsenmb commented on #148
I think if the user is typing out those examples they should know that they don't have a directory called mydir. It's like the stackoverflow examples, dir=/dir/where/code/is etc. it's pretty obvious that line needs to be changed.

[2019-07-29 13:57] warrickball opened #149 "`spread` is not defined on line 159 of mcmc.py"
Hi,

This script
[code]

just crashed with the error message

[code]

It's quite clear that `spread` isn't defined but I'm not sure whether the intention was to delete it or make it a keyword argument.

[2019-07-29 14:55] grd349 commented on #149
Thanks @warrickball - Excellent point.  I think the correct behaviour should be a keyword - spread=0.1 -  would probably be about right.

[2019-07-29 15:25] grd349 commented on #149
The above example is not working well - the star is too far from the red giant dominated prior for now.

Need to add a warning based on a comparison of the input star and what is in the prior data.  This should probably be a new issue in it's own right.

[2019-07-29 15:28] grd349 opened #150 "Add warning when input star not like prior stars"
PBjam is unlikely to work (it will probably crash) when the input star is very different to the stars in the prior data.  As we sill out the prior this will become less of an issue.  In the mean time we should add a warning that input is very different from prior and results may be wild.

One test might be to see if the KDE prior returns a finite number - the other might be to use a distance metri

[2019-07-29 15:29] grd349 commented on #149
@nielsenmb Does this warrant an update on PyPi?

[2019-07-29 15:43] warrickball commented on #149
I've only installed my fork and am not smart enough to use modern sorcery like "virtual environments" but a quick glance in the tarball on PyPI suggests that yes, the PyPI version contains this bug.

[2019-07-31 15:59] ojhall94 opened #151 "Pytest tests should import locally instead of the installed package"
At the moment, the preamble to the tests include:

`import pbjam`

This imports whatever version is installed on the users machine instead of testing the latest changes to the code. Instead we should do something like:

`from ..jar import session`

to perform tests on session specifically, for example.

[2019-07-31 16:17] grd349 commented on #151
Yes - excellent spot.  I'll look at fixing this when back unless someone else can in the mean time.

[2019-08-05 12:39] nielsenmb commented on #150
For now I think the numax warning is most meaningful/relatable for users.

[2019-08-22 08:36] warrickball opened #154 "OverflowError, possibly because of trying to draw too many lines?"
I'm trying to run PBjam on a TESS red giant that I think should work fine using this script:
[code]
but this fails, @nielsenmb says at the ε plotting, with the following error:
[code]

[2019-08-22 09:26] grd349 commented on #154
Thanks @warrickball - I'll take a look at this.  Did you set the matplotlib backend to be 'agg' somehow?  Does this work if you don't do this or is the 'agg' set in pbjam?

P.s. (Is this star particularly metal poor?)

[2019-08-22 10:35] warrickball commented on #154
My default backend is `TkAgg`, so I just tried `TkCairo` instead and it works. I've tried my `Qt5` options too: `Qt5Agg` fails and `Qt5Cairo` succeeds.

I just looked up the star and it seems to be moderately metal-poor ([Fe/H] ≈ -0.6). Also, my input parameters are wrong but a bug is a bug!

[2019-08-23 15:04] grd349 commented on #154
@warrickball - See PR on the issue.  Could you run again with your back end variations?

[2019-08-23 17:01] warrickball commented on #154
Never sure whether to comment here or the PR but the branch ran to completion with both `TkAgg` and `Qt5Agg` backends, which were failing before. It also still works with `TkCairo`.

[2019-08-23 17:10] grd349 commented on #154
Super - thanks Warrick.

Maybe Martin could merge this PR and close the issue. (Subject to review).

Might also be worth an update as the plots are better now.

On Fri, 23 Aug 2019, 18:01 Warrick Ball, <notifications@github.com> wrote:

[2019-08-29 01:58] darthoctopus opened #156 "teff is not actually optional"
the star object can be instantiated without supplying teff, but actually calling star() still returns an error.

[2019-08-29 02:21] darthoctopus opened #157 "`spread` is not defined in `pbjam.mcmc.mcmc.fold()`"
This throws an error when a `star` object is called:
[code]

[2019-08-29 08:53] nielsenmb commented on #157
Hi Joel, thanks for trying this out, I'm not sure how this bug snuck in. In the latest version on GitHub spread appears to be defined in the fold function (on the master branch at least). I updated the version Pypi a few days ago to match the latest on GitHub (0.1.3), so if you try doing pip install --upgrade pbjam I think it should take care of the problem?

[2019-08-29 08:55] nielsenmb commented on #156
Good catch, thanks. This is probably an issue that crept in from the earlier versions of pbjam where we didn't have the __call__() function in star, and Teff was indeed only optional.

[2019-08-29 13:26] darthoctopus commented on #157
Thanks. This seems to be user error (sorry) so I will close the issue. Moving forward I will test git master in develop mode.

[2019-08-29 13:26] #157 closed

[2019-08-29 13:41] darthoctopus opened #158 "mcmc chain returning all NaNs"
specifically, this part of mcmc.py called by `run_epsilon`:

[code]

`flatchains` is being populated by all NaNs for one of the stars I am trying (16 Cyg A).

To reproduce:

[code]
with attachment [ps.zip](https://github.com/grd349/PBjam/files/3555792/ps.zip)

[2019-08-29 14:34] nielsenmb commented on #158
Ah the problem is that the prior sample is not currently populated with
stars on the main sequence, only red giants. So the KDE returns -inf for
numax > 300ish.

We've been meaning to put an offset on the KDE pdf, so that this doesn't
happen.

On Thu, 29 Aug 2019 at 14:41, Joel Ong <notifications@github.com> wrote:

[2019-08-29 21:17] darthoctopus commented on #158
I see. would it be reasonable to permit a user-supplied data set for the ε prior, or to specify a value of ε without calling run_epsilon?

[2019-08-30 08:29] nielsenmb commented on #158
Personally I'd like to have the option to add specified values of epsilon
when using the star class. This was an option in an earlier version of
PBjam, but was since removed and I don't remember why.

Adding a user-supplied set of priors is a bit tricky, since the prior is
10-dimensional, so you'd have to come up with a list of credible values of
numax, dnu, epsilon, curvature etc. etc.

We're in

[2019-09-04 08:52] warrickball opened #159 "Timeseries with zero median causes Lightkurve to complain about NaN values"
Hi,

The following snippet
[code]
causes this error in lightkurve:
[code]
This seems to be because lightkurve insists on normalising the light curve by dividing by the median, which presumably leads to non-finite values that lightkurve's error describes as NaNs (even though I'm pretty sure the problem is Infs, not NaNs). I noticed that, when the timeseries is provided as a filename, PBjam handles

[2019-09-04 09:59] grd349 commented on #159
Thanks @warrickball - I think this all comes from the normalisation. We should put an if statement around the LC prep that doesn't normalise if LC.flux.mean() < tol.

[2019-09-04 15:40] nielsenmb opened #160 "Must be able to specify lightkurve download cache"
Default is ~/.lightkurve_cache

When running on machines with small amounts of disk space (or Bluebear), the cache gets filled up very rapidly.

Being allowed to pass download_dir to `jar.query_mast` should fix this.

[2019-09-10 12:36] nielsenmb commented on #160
On the FillOutPriorYu branch this has been fixed by adding download_dir as an optional argument to the session call.

[2019-09-10 12:38] nielsenmb opened #161 "Update the KDE bandwidths"
The prior sample has now been more or less completed based on the entire Yu et al. sample.

The KDE bandwidths should probably updated with this new sample.

[2019-09-11 10:33] grd349 commented on #161
I'm doing this now ...

[2019-09-16 11:15] #161 closed

[2019-09-23 09:31] #160 closed

[2019-09-26 16:33] nielsenmb commented on #154
Should be fixed now

[2019-09-26 16:33] #154 closed

[2019-09-26 16:33] #148 closed

[2019-09-26 16:36] nielsenmb commented on #145
calling asymptotic_fit now at least requires a star class instance which hast he epsilon attributes (and thus the epsilon.samples), or optionally just the epsilon class instance

[2019-09-26 16:36] #145 closed

[2019-09-26 16:36] #140 closed

[2019-09-27 10:48] grd349 commented on #144
This is done now in priors.kde()

[2019-09-27 10:48] #144 closed

[2019-09-27 13:45] alexlyttle opened #164 "Asy_peakbag error: "TypeError: zip argument #1 must support iteration" on Windows 10"
Using pbjam version 0.1.3 on Windows 10.

When repeating the [Session Example](https://pbjam.readthedocs.io/en/latest/example-session.html) in the User Guide on a Windows 10 machine, calling the Session class instance throws up a Type Error:

![session-example-issue](https://user-images.githubusercontent.com/43786145/65773871-01ba1780-e135-11e9-974b-7619c11d8da4.PNG)

Here is the error written out

[2019-09-28 11:51] alexlyttle commented on #164
I ran the same code in Linux and it was successful (reproduced the example). This means that the error is Windows-specific.

[2019-09-29 08:12] grd349 commented on #164
Thanks @alexlyttle ! That's good info. @nielsenmb do you know what that line of code is doing?

Can we make a simple test to get Alex to try on windows to see if there is any easy fix?

[2019-09-30 09:25] alexlyttle commented on #164
Cheers @grd349 I am attempting to fix the issue having forked the repository. After chatting to @nielsenmb on Friday, it might be a simple case of converting the arguments in the zip() function to list type.

[2019-09-30 09:50] nielsenmb commented on #164
This line is for handling array inputs, instead of list inputs. This is
relevant for when you want to compute the asymptotic relation based on a
sample from the posterior, rather than the summary statistics. Asy_peakbag
uses the former when evaluating the model during the fitting process, one
model at a time, but the latter when it's time to output the actual mode
frequencies based on the entire p

[2019-09-30 10:44] nielsenmb commented on #156
Teff is now required.

[2019-09-30 10:44] #156 closed

[2019-09-30 10:46] nielsenmb commented on #149
Going to close this issue. It appears to have been fixed for a while now.

[2019-09-30 10:46] #149 closed

[2019-09-30 10:53] alexlyttle commented on #164
I have figured out a key difference after testing some of the individual lines of code. When converting to integer types in the following lines (63-64: pbjam/asy_peakbag.py):

[code]
If `nmax` is an array, this creates an array and the code functions fine. If `nmax` is not an array, this produces an integer. In Linux it becomes `np.int64`, but in Windows it becomes `np.int32` (see [this](https://s

[2019-09-30 11:02] nielsenmb commented on #164
Maybe also consider something like:

if isinstance(below, int):

I read recently that the isinstance is a bit less strict about exactly what
type of int it is. Also I've tried once where type(x) == np.str, and
type(x) == str doesn't, return different boolean values (i.e., testing
numpy string vs. python vanilla string), but isinstance(x, str) gives the
same result in both cases.

On Mon, 30 Sep 20

[2019-09-30 12:44] nielsenmb commented on #55
Started some initial work on this here https://github.com/nielsenmb/Asterosearch

[2019-09-30 12:45] nielsenmb commented on #122
This can probably in part be solved by also completing Issue #55

[2019-09-30 12:50] nielsenmb commented on #159
This particular aspect of LightKurve is being overhauled at the moment. Should be fixed by requiring PBjam updates to the latest version of LightKurve (in the near future).

[2019-09-30 14:09] #164 closed

[2019-10-02 15:14] alexlyttle opened #167 "Asymptotic_fit plot does not work correctly when running in session"
As discussed in person with @nielsenmb, the asymptotic_fit plot does not work correctly when running in `session` but does work in `star`. It doesn't appear to be using the full sample set, leaving incomplete contour plots. The image below is what is produced when running the session example in the docs:

![image](https://user-images.githubusercontent.com/43786145/66055871-2267e000-e52e-11e9-87cf-

[2019-10-02 15:20] grd349 commented on #167
Excellent work @alexlyttle  - this looks like an initial value problem to me - is the way the code is run in session and star identical (wrt inputs at least)?

[2019-10-02 15:33] alexlyttle commented on #167
The code is run identically wrt to inputs in star and session, except for `store_chains` (`True` in star and `False` in session by default). This is how I traced it to the lines of code quoted above. Chatted to @nielsenmb a moment ago and he agrees that this is what caused the issue, but he may be able to explain why more easily!

The main issue is that if you pass `store_chains=False`, when calli

[2019-10-02 16:48] ojhall94 commented on #159
This should be fixed now with v1.2.0. We should try it out, I'm not sure if behaviour will be consistent.

[2019-10-02 17:03] ojhall94 commented on #159
Okay so having played around with it, to retain `periodogram` units of `ppm^2/microHz`, we need to call:

`lc.normalize(unit='ppm').to_periodogram(normalization='psd')`

whereas before we simply called:

`lc.normalize().to_periodogram(normalization='psd')`.

I think this should work for zero-centered data as well, but I haven't tried that yet.

[2019-10-03 08:23] nielsenmb commented on #167
It's simply due to the fact that if store_chains=True in one case and not
in the other.

In asy_peakbag if store_chains=False, then only the last step in the chains
is saved, and sent to asy_fit.samples, which plotting.plot_corner uses.

The fit is still perfectly fine, since the summary statistics that are
passed to asy_fit.modeID are computed before this. It's just the corner
plot that is affect

[2019-10-03 10:32] grd349 commented on #159
Thanks @ojhall94 - we should update the dependency to be lightcurve==1.2.0 and then put in the updated unit in normalize.  @alexlyttle - do you want to have a swing at this one?

[2019-10-03 10:44] alexlyttle commented on #159
I could give that a go, will update lightkurve and this out on my fork.

[2019-10-03 10:50] grd349 commented on #159
@alexlyttle - do you know about the dependencies in setup.py?  If no, let's talk tomorrow.

[2019-10-03 10:58] alexlyttle commented on #159
@grd349 I think so, I believe it's just a case of changing `lightkurve>=1.0.1` to `lightkurve>=1.2.0` in setup.py to make sure that the version of lightkurve installed is greater than or equal to 1.2.0.

[2019-10-03 10:58] nielsenmb commented on #159
If you guys are going to be playing with the dependencies in setup.py, can
you make it pull the dependencies from requirements.txt? Then we only need
to update the dependencies in one place.

It could maybe be done with an easy open('requirements.txt', 'r').read()
call in the setup.py, but I'm not sure.

The requirements.txt is what sphinx/readthedocs uses to make compile
everything for the docs p

[2019-10-03 11:01] alexlyttle commented on #159
@nielsenmb that makes sense, I can also try that on my fork and see what happens. Will chat with @grd349 tomorrow about it too.

[2019-10-03 13:50] nielsenmb commented on #159
There appears to be a bug in the lightkurve normalize function, so you get the wrong scale of the offset on the flux when using normalize('ppm'). Basically it looks like they've forgotten to subtract 1 when converting from flux to ppm, so you wind up with a mean of 1e6, rather than 0 after converting.

It might still work for our purposes though, since to_periodogram should handle offsets in the i

[2019-10-03 15:19] nielsenmb commented on #167
Fixed in latest PR

[2019-10-03 15:19] #167 closed

[2019-10-03 15:41] alexlyttle commented on #159
@nielsenmb thanks for the heads-up!

[2019-10-04 12:34] alexlyttle opened #169 "Session struggling with challenging red clump star, kde fails?"
Calling an instance of `session` on KIC8527188, an evolved red clump star, produces some problems that seem to be to do with the kde. When I manually download, producing a periodogram via Lightkurve and then use the `star` class, the fit is improved. I'm not too sure what is going on here, but two major differences are with the following plots:

**Via session**
![kde_KIC8527188](https://user-image

[2019-10-04 12:51] nielsenmb commented on #169
I think this may in part be due to session using the entire spectrum,
0-Nyquist, where your star example uses a section of the spectrum around
numax. That's the only difference I can see.

Ultimately this shouldn't have much of an effect though, since the
information about the modes in the spectrum is identical in both cases.

Try running the star example without limiting the frequency range, and

[2019-10-09 15:26] alexlyttle commented on #159
@nielsenmb I modified the `normalize()` function in Lightkurve so that it takes away 1 from the flux before converting to percent, ppt and ppm. I intend to create a pull request/issue on lightkurve about this, but want to mention some of the side-effects of the change first.

For example, I noticed flattening the light curve before/after normalisation massively changes the appearance of the light

[2019-10-09 17:01] alexlyttle commented on #159
I tried running the script in the first comment of this thread and it throws up an error when trying to initialise `session`. @warrickball, do you know which version of PBjam you ran this on? I was looking back to see if there was a change in the code somewhere that is causing this, but it is pretty difficult to pinpoint so I will leave it here for now.

Here is the error which arises after runnin

[2019-10-10 06:31] nielsenmb commented on #159
Getting the same error as Alex, investigating...

[2019-10-10 07:10] nielsenmb commented on #159
Seems like the offending line is in session.py line
`359         vardf[key] = np.array([arr_to_lk(x, y, vardf['ID'][0], key)])`

For some obscure reason when the output from arr_to_lk is put in an array, it messes up something with creating a new column in a PandasDataframe.
Replacing it with
`vardf[key] = [arr_to_lk(x, y, vardf['ID'][0], key)]`
seems to have solved this for me...

[2019-10-10 09:00] alexlyttle commented on #159
That's odd, but if that fixes it then it should be fine. I'll give that a go and add it to the pull request if it works.

[2019-10-10 09:35] warrickball commented on #159
I don't think I've updated anything since opening this issue and I still get the same error. I seem to have PBjam version 0.1.0:

[code]
Specifically, I've got commit 404d2edb1023a33bdeaa2ceb4543414e3a8bbace:
[code]
I won't try upgrading yet in case it makes it hard to reproduce the error.

[2019-10-10 09:52] alexlyttle commented on #159
Cheers @warrickball. In the latest version of PBjam on git and with lightkurve v1.2.0, after adding to my fork the [fix](https://github.com/grd349/PBjam/issues/159#issuecomment-540424072) suggested by @nielsenmb, I don't get the lightkurve error you had, or the pandas KeyError I [quoted](https://github.com/grd349/PBjam/issues/159#issuecomment-540093168).

Now I just get this warning upon initialis

[2019-10-10 10:02] nielsenmb commented on #159
Yup, the numax warning is probably cause you are using a fake time series.
You can try using a real timeseries.

The warning about the slow KDE occurs when the prior data it's being
trained on contains more than 1000 targets. This probably occurs because of
some combination of large errors on numax and dnu and that you are in a
particularly dense part of the prior sample.

On Thu, 10 Oct 2019 at 1

[2019-10-10 10:30] alexlyttle commented on #159
It works fine using a real time series, no warnings and no issues after implementing your suggested fix @nielsenmb.

[2019-10-10 10:35] nielsenmb commented on #159
Cool, feel free to commit the changes to your pull request, and I'll merge
it into the master branch

On Thu, 10 Oct 2019 at 14:30, Alex Lyttle <notifications@github.com> wrote:

[2019-10-11 10:56] warrickball commented on #159
I upgraded yesterday afternoon so now have version 0.1.6 (and lightkurve 1.2.0). The same script seems to run to completion with the following output, which may or may not be worrying:
[code]
I've run it twice and got the same result so it probably isn't random.

[2019-10-21 15:12] nielsenmb opened #172 "seems safe to remove astropy version requirement"

[2019-10-21 15:15] nielsenmb opened #173 "Computing KDE can still be slow for some numax/dnu"
For some values of numax/dnu the prior sample is still very dense.

Suggest selecting a subsample of stars if number within the range used for the KDE exceeds X.

[2019-10-23 12:57] warrickball commented on #172
`lightkurve` is also now up to version 1.3.0, which I presume is still compatible with PBjam, so that's also giving me `pip` warnings. Really, you (we?) should use `>=` for required versions whenever possible.

[2019-10-23 14:09] grd349 commented on #172
Good point - but we haven't tested lk 1.3.0 with PBjam.  But you are right - we should switch to >= for versions and then deal with new version issues as they are reported (lk does not seem to be soo hot on maintaining backwards compatibility).

[2019-10-24 16:05] nielsenmb commented on #172
Yup. Definitely worth keeping in mind about the version exclusion!

[2019-10-24 16:05] #172 closed

[2019-10-30 12:13] alexlyttle opened #175 "Enhancement: Implement python logging for output/debugging instead of print()."
A possible enhancement to this package would be to use python logging for output and logging errors etc. instead of using print. Logging allows you to:
* See when and where in the code a logging call has been made
* Assign categories to messages which the user can configure what to output/not (great for debugging)
* Can configure output from the module to be sent to specific files - great when run

[2019-10-30 16:47] grd349 commented on #175
Hi @alexlyttle,

This is an excellent idea.  let's have a chat about how we could manage this.  In the mean time, if anyone wants this for themselves, just shout.

[2019-10-31 17:49] alexlyttle opened #176 "Session: LightCurve objects store differently in numpy arrays / pandas for lightkurve>=1.2"
This relates to an [issue I raised](https://github.com/KeplerGO/lightkurve/issues/619#issue-515612455)  on the Lightkurve GitHub page.

The impact of this issue is in `session.py`, particularly upon initialisation of `session` when importing  timeseries. In my case, I provided paths to the timeseries files. When I try to initialise `session`,

[code]

the code hangs on the final line ([399 in sess

[2019-11-07 11:21] nielsenmb commented on #158
A fair amount of main sequence and sub giant targets are now in the prior sample. It's still a bit sparse, so you might still experience some targets suffering from not having enough samples to construct the KDE from (the reason you get NaNs).

[2019-11-07 11:21] #158 closed

[2019-11-07 11:34] nielsenmb opened #178 "readthedocs no longer compiling due to missing nbsphinx"
Apparently readthedocs can't figure out the extra_require variable in setupy.py and is not install nbsphinx causing the compilation of the docs to fail.

[2019-11-11 17:35] #143 closed

[2019-11-11 17:35] grd349 commented on #55
Can we close this now?

[2019-11-11 17:36] grd349 commented on #64
I don't think we have seen any issues here - I'm closing until someone says there is a problem.

[2019-11-11 17:36] #64 closed

[2019-11-11 17:38] grd349 commented on #113
We do need to look at this.  I can make one with a custom time series.  I'll add it to my todo list.

[2019-11-11 17:39] grd349 commented on #114
Obviously I didn't check with dfm.  We do have dependencies though - is this enough?

[2019-11-11 17:43] grd349 commented on #141
Also need to add @alexlyttle.  Is there anyone else who needs adding?  @nielsenmb

[2019-11-11 17:44] #159 closed

[2019-11-11 17:45] grd349 commented on #169
Where are we on this?  Does session restrict the range of the power spectrum now?

[2019-11-11 17:46] grd349 commented on #178
How do we fix this?

[2019-11-11 17:47] grd349 commented on #176
Hi @alexlyttle,  Did you hear back from the lightkurve folks?

[2019-11-11 18:23] alexlyttle commented on #176
They replied [here](https://github.com/KeplerGO/lightkurve/issues/619#issuecomment-548589539). The simple fix suggested, translated to this issue, is to write:

[code]

(There may be a more simple way of doing this with pandas alone, I am not sure)

I reckon a simple fix would be to implement this in places in the code where a Lightcurve object is added to a pandas DataFrame or numpy array. It's a

[2019-11-11 18:26] nielsenmb commented on #178
For now by removing nbsphinx from the  extras_require in setup.py, and
putting it back in requirements.txt.

There is probably a better way to do it, probably by fiddling with the
docs/conf.py file, but I don't know for sure.

On Mon, 11 Nov 2019 at 17:46, Guy Davies <notifications@github.com> wrote:

[2019-11-11 19:06] darthoctopus opened #180 "incorrect mode identification for main sequence stars"
I'm trying pbjam with a main sequence star (16 Cyg A; KIC 12069424), using a power spectrum from the KASOC time series, and with stellar parameters instantiated as follows:

[code]

calling `star()` returns the following l = 0,2 mode identifications:
![asymptotic_fit_12069424](https://user-images.githubusercontent.com/5761408/68613116-0d1a9580-048c-11ea-8d17-30caf0962341.png)

The l=1 ridge is bei

[2019-11-11 21:47] nielsenmb commented on #180
Hi Joel, thanks trying this out. The main-sequence part of the prior is still a bit sparse.

Can you try increasing the error on your Teff, \pm11 K is very small. I don't know if that'll affect anything, but we do have a Gaussian prior on Teff on top of the KDE, so if it's too narrow it might try to put epsilon at a wrong value.

Also, when I was populating working on the main-sequence targets I f

[2019-11-12 07:58] grd349 commented on #180
Hey @darthoctopus ,

Thanks for looking at this.  I'm trying to recreate this but Lightkurve doesn't like 16 Cyg (complains about multiple targets).  I guess you are using a custom lightcurve.  If you share the light curve (or even your notebook) I'll have a go.

First out the gate as a suspect here is your starting Dnu.  PBjam is really designed to work only if you give a decent estimate of Dnu (

[2019-11-12 08:05] grd349 opened #181 "kde"
I ran ...

and got the following message:

If this has really changed so the kde no longer has a plot method then we need to update the examples to reflect this.

@nielsenmb Is this part of your new plotting revamp.  Can we add a method to kde called plot that calls your new fancy plotting?

[2019-11-12 09:21] nielsenmb commented on #181
plot() is ambiguous, so it's plot_spectrum() now. I updated the example-star.ipynb, but apparently not the advanced one.

[2019-11-12 09:25] nielsenmb opened #182 "data download should specify the mission"
Now that TESS has observed the Kepler field Lightkurve will return a single target as two targets, one in KIC and one in TIC. Lightkurve will then complain that you have to select two targets.

[2019-11-12 16:22] #141 closed

[2019-11-13 15:30] darthoctopus commented on #180
Thanks @nielsenmb and @grd349 for the suggestions. As @grd349 suspects, pbjam is able to identify the modes correctly with a more constrained value of Δν.

[2019-11-13 15:37] darthoctopus opened #184 "Inconsistent results between KDE prior and actual spectrum"
I used the prior values (in the data file `reference_epsilon_values_do_not_change_this.csv`) for KIC 11717120 to attempt to identify modes and peakbag the [KASOC short-cadence power spectrum](https://github.com/grd349/PBjam/files/3841998/kplr011717120_kasoc-psd_slc_v1.zip). The relevant line from the CSV file follows:

[code]

I created the star object as:

[code]

This fails quite spectacularly:

[2019-11-13 16:08] grd349 opened #185 "Star class - output directory not present"
When running

I get the following error:

[code]

I think we need a directory creation step to prevent this error.

[2019-11-13 16:18] grd349 commented on #185
And I also for

[2019-11-13 16:22] nielsenmb commented on #185
I had a similar issue occur just a few days ago.

It's unclear why this hasn't happened before, but I've fixed it in my fork.
I'll merge it in a few minutes.

On Wed, 13 Nov 2019 at 16:18, Guy Davies <notifications@github.com> wrote:

[2019-11-13 16:24] grd349 commented on #185
Excellent work! :)

[2019-11-13 16:24] #185 closed

[2019-11-13 16:30] #180 closed

[2019-11-14 04:41] grd349 commented on #184
Hi @darthoctopus

Thanks for pointing this one out.  I think there are two things at play here that make this difficult.  First is that it looks like the prior is still a little bit on the sparse side in this region.  Second, the data SNR is really high (which is a good thing) but the modes are very narrow.

The code is finding a solution where is the mode line width is much higher than it should

[2019-11-14 04:44] grd349 commented on #184
I hacked together a simple additional penalty on the line width and things behave much better.  My hack now forces a slight over estimate of the line width but at least I think I know what I'm working with here.

<img width="1037" alt="Screenshot 2019-11-14 at 04 43 18" src="https://user-images.githubusercontent.com/14784265/68827284-51c74c00-0699-11ea-9a52-1c24ea9a73ea.png">

[2019-11-14 05:29] grd349 commented on #184
OK - this works better now.  I'll make a PR for the changes.  They might still need a little more thought.

<img width="982" alt="Screenshot 2019-11-14 at 05 26 46" src="https://user-images.githubusercontent.com/14784265/68829012-66a6de00-069f-11ea-89f5-265352608d9a.png">

[2019-11-14 11:35] nielsenmb commented on #181
Also this is the least informative issue title ever

[2019-11-14 11:35] #181 closed

[2019-11-14 11:35] nielsenmb opened #189 "readthedocs doesnt understand extras_require in setup.py"
This causes readthedocs to not work

This has been temporarily fixed, but ideally we should work out a way for readthedocs to understand whats in extras_require

[2019-11-14 11:38] nielsenmb commented on #178
temporarily fixed

[2019-11-14 11:38] #178 closed

[2019-11-14 14:58] alexlyttle opened #190 "Star run_peakbag() cryptic warning"
A user warning and error appeared when running the following:

[code]
 Warning:

[code]

Followed by an error:

[code]

`run_asy_peakbag` performed very well and the oscillilation spectrum has high SNR, it looked to be an easy fit.

[2019-11-14 15:04] grd349 commented on #190
Thanks @alexlyttle.

I'll take a look - it'll be a problem with the ladder function and failing to arrange the data as needed.

What's the id for this star?

[2019-11-14 15:05] alexlyttle commented on #190
Thanks Guy,

It’s a really good star:
350585437

[2019-11-14 15:22] alexlyttle commented on #190
Same error on TIC 375089600 which is a less good spectrum. I couldn't find any obvious similarities with the two cases.

[2019-11-15 14:15] nielsenmb commented on #182
Fixed in PR #191

[2019-11-15 14:15] #182 closed

[2019-11-15 17:02] grd349 commented on #190
I also got this on ... kic = '6508366'

This looks like a meaningful bug - need to sort.

[2019-11-20 10:20] grd349 opened #193 "Need to update all examples in Examples"
All of the examples in Examples are now out of date.  We need to either remove them or update them ...

[2019-11-20 10:36] rgarcibus opened #194 "problem on save fig in star.peakbag.plot_echelle"
It seems that there is something missing when I try to save the plot of the echelon diagram in the following command:

star.peakbag.plot_echelle(pg).savefig('file.png')

The code says:
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/lightkurve/seismology/core.py:170: LightkurveWarning: You have passed both a numax and a frequency limit. The frequency limit will overri

[2019-11-20 10:53] grd349 commented on #194
@rgarcibus - Welcome :) . Thanks for reporting this!

@nielsenmb plot_echelle does not return a figure object so this is why it does not work.  I guess it should.  I'm going to fix this now and open a PR unless you are already on this.

[2019-11-20 11:03] nielsenmb commented on #194
Yep, it's the missing fig return (I even wrote it should return this in the
docstring)

Go ahead and fix it, I'm on my phone at the moment, so fixing code is
challenging.

On Wed, 20 Nov 2019, 10:53 Guy Davies, <notifications@github.com> wrote:

[2019-11-20 11:06] grd349 commented on #194
Update - we use the lightkurve plot_echelle function and that doesn't give us access to the fig object.  I guess this is why @nielsenmb you didn't return the fig object.

@ojhall94 I'm going to change this in lightkurve so that plot_echelle accepts an ax but if ax is None then create the fig and ax.  I'll do this unless you know of a good reason not to :)

[2019-11-20 11:23] ojhall94 commented on #194
You mean open a PR? I can't see a reason why it wouldn't be possible, but I'm also not sure why I didn't implement it in the first place. Weird!

[2019-11-20 11:24] grd349 commented on #194
Yes a PR - just re-reading the contributing guidelines now :)

[2019-11-20 11:58] grd349 commented on #194
PR is submitted - will probably want to wait to the next lk release before updating PBjam.

[2019-11-20 17:22] grd349 commented on #146
This is already dealt with now by the fold call in the mcmc class.

[2019-11-20 17:22] #146 closed

[2019-11-20 22:38] #193 closed

[2019-11-20 22:40] grd349 commented on #150
There is now a warning about the number of stars in the prior.

[2019-11-20 22:40] #150 closed

[2019-11-20 22:43] grd349 commented on #55
@nielsenmb bump -  can we close this now? :)

[2019-11-21 07:39] nielsenmb commented on #55
Why does it need to be closed? We haven't added it yet.

On Wed, 20 Nov 2019 at 23:43, Guy Davies <notifications@github.com> wrote:

[2019-11-21 10:33] grd349 commented on #190
Discussing with Martin we think this might be a problem with the way we are interacting with the data.  Both @alexlyttle and I reduce the periodogram range as part of our data prep.  @nielsenmb does not do this this step.

We think perhaps the failures come when the ladder function looks for a part of the periodogram that has been trimmed out.  It turns out that star takes care of the periodogram

[2019-11-21 10:36] grd349 commented on #190
@alexlyttle - could you see if this solution fixes your examples (and also check I am making any sense).

[2019-11-21 10:39] grd349 commented on #184
I have merged in the changes to the treatment of an additional linewidth penalty. @darthoctopus I think this will fix your particular problem and I hope this will more generally fix this issue of bad solutions from the data overwhelming the prior.  Please shout if you continue to have problems and thank you for the input!

[2019-11-21 10:39] #184 closed

[2019-11-21 10:44] grd349 commented on #194
Lightkurve 1.5 has been released and is pip installable.  It has the update to the seismology.plot_echelle() function that we need.  I will now deal with the fig return in our plot_echelle() and I update the requirements.

[2019-11-21 11:00] nielsenmb commented on #194
That was fast!

On Thu, 21 Nov 2019, 10:44 Guy Davies, <notifications@github.com> wrote:

[2019-11-21 12:19] alexlyttle commented on #190
I will check this. If understand what you mean, it is probably looking for modes outside of our selection. I think I only selected a range to encourage lightkurve’s seismology module to work (sometimes it looks in the wrong part of the spectrum if the `window_length` is wrong). I’ll let you know how it goes.

[2019-11-21 12:19] nielsenmb commented on #175
Ideas:

0. Use the built-in logging module
1.  silent logging at every function call? Set logging level to INFO
2.  time stamp at each log step
3.  PBjam version logged at beginning of run
4. filename star_date_time.log
5. verbose settings to set amount of messages to print statements (silent, brief, letsjam). silent for cluster runs, brief by default, letsjam for debugging a single star.

[2019-11-21 15:04] alexlyttle commented on #176
I should update. This may be closed now. @nielsenmb's change from using pandas `DataFrame.loc[]` to using `DataFrame.at[]` has fixed this issue as a side-effect. I believe `DataFrame.at[]` targets a specific cell and will put the `LightCurve` object into it, whereas the former would explode the `LightCurve` by using it's `__len__` method.

[2019-11-21 15:20] alexlyttle opened #197 "Star should warn if input periodogram is not flattened or update docs."
## Context

When I tried passing the following periodogram to the `star` class,

[code]

I got this output from `star.run_asy_peakbag()`:

![image](https://user-images.githubusercontent.com/43786145/69348676-75c4f780-0c6e-11ea-830f-46967d6d4275.png)

For comparison, when I passed the following periodogram, (`flatten()` is Lightkurves method to remove noise and smooth the periodogram)
[code]
I get

[2019-11-21 15:21] alexlyttle commented on #190
When I revisited TIC 350585437 and fed in the whole spectrum by passing,

[code]

`star.run_peakbag()` worked! I will check the other stars this was a problem on but the above solution makes sense.

Note, I initially passed a periodogram without flattening it as the PBjam docs say the power may be in arbitrary units, but this failed. I have logged this in Issue #197

[2019-11-21 16:05] grd349 commented on #176
Super - thanks @alexlyttle.  Great job!

[2019-11-21 16:05] #176 closed

[2019-11-21 16:06] grd349 commented on #190
Super thanks @alexlyttle .  I'll close now but we can reopen if this happens again.  Once again, excellent work! :)

[2019-11-21 16:06] #190 closed

[2019-11-21 16:10] nielsenmb commented on #197
I think we should definitely recommend in the docs that the LC be flattened
first.

If I recall correctly the periodogram is flattened in session when reading
in from text file, but may not be when providing a pg object.

I don't recall putting any flattening in star. It could be a good idea to
do so. Although we should check what the effect of flattening multiple
times.

Not sure how easy it woul

[2019-11-21 16:34] grd349 commented on #147
Done - Note requires lightkurve v>=1.5.0 to work.

[2019-11-21 16:34] #147 closed

[2019-11-21 16:35] grd349 commented on #55
OK - so no closing yet! :)

[2019-11-21 17:50] nielsenmb commented on #194
close this?

[2019-11-21 17:52] grd349 commented on #194
Indeed!

[2019-11-21 17:52] #194 closed

[2019-11-27 14:43] nielsenmb commented on #173
Fixed with PR #198

Downsamples to KDEsize (default = 100) if the interval in numax spans more than 100.

[2019-11-27 14:43] #173 closed

[2019-11-28 14:46] nielsenmb commented on #111
Example travis CI configuration file. https://github.com/hannorein/rebound/blob/master/.travis.yml

Looks like you can do something with ipynb files too...

[2019-11-28 14:52] nielsenmb commented on #189
Fixed in [latest commit ](https://github.com/grd349/PBjam/commit/863665774f082594b117f71aaed2ed627e502a22) to master.

[2019-11-28 14:52] #189 closed

[2019-11-28 14:52] grd349 commented on #111
Yes - neat.

I think the import bit is this step ...

python ipynb2py.py AdvWHFast.ipynb

Defo worth looking into!

G
*Dr Guy R. Davies*
PI - ERC CartographY Project
Senior Lecturer in Astrophysics
School of Physics and Astronomy
The University of Birmingham
Edgbaston
Birmingham  B15 2TT

Tel +44 (0) 121 414 4597
G.R.Davies@bham.ac.uk
grd349@gmail.com
davies@bison.ph.bham.ac.u <davies@bison.ph.bha

[2019-11-28 15:19] nielsenmb commented on #114
I've looked around, and it doesn't look like it's a thing to Acknowledge dependencies in the repo.

As long as we acknowledge the authors in the paper(s) it should be fine I think.

[2019-11-28 16:10] nielsenmb commented on #197
I've put in a flatten method call in the init of star. Not the best procedure I guess, but it does the trick.

I tested flattening on the same spectrum 10x and it made no measureable difference after the first flattening (does this make sense?). It was a high SNR target, don't know if low SNR targets behave the same.

Tested on 4448777 and it works, feel free to close issue.

[2019-11-29 13:04] grd349 opened #199 "Make GUI for asymptotic relation tests."
We need a GUI to allow us to explore the limits of the mixed mode asymptotic relations.

[2019-11-29 13:37] #197 closed

[2019-11-29 15:25] grd349 opened #202 "Correct way to set version"
We currently have a hack to set version in setup.py (i.e., __version__ = []) so that we fool the flake8 lint tests.  We should figure out how to do this properly.

[2019-11-29 16:36] nielsenmb commented on #151
if I do
`from ..asypeakbag import asymptotic_fit`

in pbjam/tests/test_asy_peakbag.py

I get

[2019-12-12 11:27] alexlyttle opened #204 "Orders don't appear centred on numax"
## Issue
Using the `star` class, running `run_asy_peakbag(norders=6)` does not appear to centre the orders chosen on the given numax (numax ~ 1190 muHz) as seen in this image (note this fit may not be right anyway!):

![image](https://user-images.githubusercontent.com/43786145/70707844-0b353380-1cd1-11ea-9634-509d041804c6.png)

I had noticed this issue in a few other stars, although it wasn't as o

[2019-12-14 03:00] grd349 opened #205 "Add example using own data sets"
@ojhall94 has a nice example of analysing 16 Cyg A where he uses his own data that he plus into lightcurve and then run PBjam `star`.  We should add this example to the docs somewhere.

It's probably more about interacting with lightkurve than anything else but probably an issue users will care about.

We should add a few more orders to the example and we should fix the problem #204 to make it loo

[2019-12-14 03:13] grd349 commented on #204
@alexlyttle Thanks for highlighting this.  Yes we need to look at this.  It's possible that it is related to the input Dnu and numax and is possibly a limit of the the current knowledge.  It's also possible it's a bug!  I think we should have a look this and decide if it is a bug or not. @nielsenmb is very good at finding bugs in my code ... ;)

[2020-01-05 14:57] grd349 opened #209 "Install problem w/ hdbscan"
When installing pbjam with pip3 I get a problem with hdbscan - failed building wheel for hdbscan.

We should see if we can remove hdbscan for now so at least the basic functionality works.

[2020-01-09 15:36] warrickball commented on #209
Is this still an issue? I just created a fresh virtual environment and `pip3 install pbjam` finished without an error. FWIW, I'm on Python 3.7.5 on Fedora 31.

If you keep having trouble, it might by a Cython issue so try upgrading it manually (e.g. `pip3 install --upgrade cython`).

[2020-01-09 16:52] nielsenmb commented on #209
Apparently only Guy had this issue. It worked on multiple different
machines around the time of the PLATO meeting, so we thought it was an
issue that cropped up recently with a new version of HDBscan but apparently
not(?).

On Thu, 9 Jan 2020 at 15:36, Warrick Ball <notifications@github.com> wrote:

[2020-01-12 19:26] darthoctopus opened #210 "AttributeError: module 'pymc3' has no attribute 'diagnostics'"
I get this error when trying to peakbag 16 Cyg (again); this is a regression from the last time I tried it in November. Traceback follows:

[code]

I am using the current git master of pbjam (installed in develop mode) with pymc3 version 3.8.

[2020-01-12 19:33] darthoctopus commented on #210
As far as I can tell, this is the result of an API change in pymc3 where native diagnostic functions were replaced in favour of using ArviZ: see https://github.com/pymc-devs/pymc3/commit/521174cfb52a4dfe7b8bd28b1ce193df58e9dd40

[2020-01-13 08:11] grd349 commented on #210
Hi @darthoctopus

Good catch - I think you've got the problem understood.  @nielsenmb - we should fix this sap.

It might function better int he future if we take the diagnostics from the pm.summary(trace) functionality that way we'll be less prone to changes under the hood.  Thoughts?

[2020-01-23 16:55] darthoctopus commented on #210
sorry to bother you all (this nagging is second-order), but any progress on this? Alternatively, as a workaround I'd like to downgrade pymc3 to whatever version you people are presently using/testing with. Any suggestions?

[2020-01-24 00:15] darthoctopus opened #212 "statsmodels not listed as dependency in setup.py"
Ran into this when installing pbjam in a fresh environment today, shouldn't be hard to fix

[2020-01-24 00:18] darthoctopus commented on #212
hmm, my bad, it does appear to be listed; not 100% sure why I got the import error then

[2020-01-24 00:18] #212 closed

[2020-01-24 09:51] nielsenmb commented on #210
Hi Joel,

I'm currently using pymc3 3.7 and pbjam works for me with this version. Not
sure what the others are using.

I haven't had much time to work on pbjam the last month, and might not for
a while (need to write that paper!).

On Thu, 23 Jan 2020 at 16:55, Joel Ong <notifications@github.com> wrote:

[2020-01-31 12:11] alexlyttle opened #213 "pg.flatten() in star __init__ uses default filter width"
The default filter width of 0.01 used by `pg.flatten()` (added to `star.__init__()` following Issue #197) sometimes subtracts the signal, requiring a larger filter width (see below). When you pass a custom SNR to `star`, this resets and uses the default filter width. A quick work-around is to set `star.pg = custom_snr` following initialisation. However, I feel that either subtracting the backgroun

[2020-02-04 17:00] nielsenmb opened #214 "kde.plot_spectrum() xlim is inconsistent"
It should be focused around numax, but appears to sometimes just take the full frequency range.

[2020-02-07 11:58] nielsenmb opened #215 "formatting PBjam output to different stellar model pipelines"
It would be nice to have a small pbjam.output module which handles the formatting of the outputs so they are easy to use in different modeling pipelines.

The module can contain a method or each type of output, e.g., pbjam.output.to_mesa() which would format things to make it easier to copy mode frequencies etc. into a mesa input file.

This will hopefully make it easier for modelers to use PBjam.

[2020-02-07 12:10] nielsenmb commented on #205
Is there a link to this notebook? It sounds like that's what happens when you give pbjam.session a numpy array or file name instead of a lightkurve object.

This is of course not possible if we want the tutorial to show the pbjam.star case, but for pbjam.session it's trivial.

[2020-02-07 12:20] warrickball commented on #215
Here's an example of what the relevant lines for MESA's `astero` model-fitting module look like.

[code]
If someone sets up an example of what the output functions should look like, I can probably add this myself.

[2020-02-07 22:02] grd349 commented on #205
@ojhall94 - do you have the 16 Cyg notebook?  We'll make it pretty if you can shoot it across.

[2020-02-07 22:04] grd349 commented on #215
This sounds like a nice feature - do lots of people use astero?

While this is a great idea we should keep out focus on things like robust estimates of numax/dnu and treatment of the l=1.  Although I suspect @warrickball could probably do this while sleeping it should probably be a v2.0 ambition. :)

[2020-02-10 11:43] warrickball commented on #215
Basically, no. AIMS and [AMP](https://amp.phys.au.dk/) spring to mind as formats that others might use. I expect there's one format per stellar modeller/modelling pipeline so it's probably easier to just let the user provide a format function that we (you?) might ingest later.

I fully agree that this should be a low priority. It's easy to work with the `peakbag_summary` CSV as it is so, while con

[2020-02-10 12:10] nielsenmb commented on #215
My idea with this was that modelers who have not tried using seismic
constraints with, e.g., Mesa, would find it easier to integrate results
from PBjam. Anything that makes peoples' lives easier increases the odds
they will use the code. For seasoned seismologists it'll probably not be
that important though. Also it'll be a easier for us to sneak in
line-of-sigh velocity corrections, which will be

[2020-02-12 15:03] nielsenmb commented on #210
This should be fixed in the an upcoming PR once Guy approves it.

It's preferable to update to 3.8, but it should still work for 3.7.

[2020-02-16 10:33] alexlyttle commented on #209
I got this issue recently on BlueBEAR and realised it has something to do with not having a GCC compiler installed or in the PATH. I solved it by loading the compatible GCC module. In the process, I found some solutions, including the following thread [here](https://github.com/scikit-learn-contrib/hdbscan/issues/293) which suggested the command `sudo apt-get install python3.X-dev` where `X` is the

[2020-02-17 06:44] grd349 commented on #209
Super - thanks Alex. Do we think we can close this issue?

On Sun, 16 Feb 2020, 10:33 Alex Lyttle, <notifications@github.com> wrote:

[2020-02-17 09:33] alexlyttle commented on #209
I think it can be closed now, no need to make changes to PBjam to fix this. Although I realise your error is a little different from the one in the link I shared, it appears updating or uninstalling and reinstalling cython fixes your issue ([here](https://github.com/cython/cython/issues/2680)).

[2020-02-17 10:59] nielsenmb commented on #210
Think this issue can be closed now.

[2020-02-17 10:59] #210 closed

[2020-02-17 22:22] alexlyttle opened #218 "Improve session class to scale better"
#### Enhancement

While recently running PBjam for multiple stars, I have made some adjustments so that `session` scales better, e.g.

* Catch errors when downloading the light curve via Lightkurve and remove/flag said target in list
* Log stars which fail in a csv with a description of the error (I found this super helpful)
* Add plt.close('all') after each loop in `session.__call__` so plots don

[2020-02-18 03:59] grd349 commented on #218
Hi @alexlyttle,

That sounds great!  Would we need a if make_plots: around the plt.close('all') - I'm not sure but @nielsenmb will know.

[2020-02-19 09:50] nielsenmb commented on #218
I think pt. 1 and 2 might fall under a general logging module? Something along the lines of what's discussed in Issue #175.

It would be nice to have a general log file that catches errors and outputs, but the failed_runs_go_here.csv that you have sounds really good. I think we should have both. Log files are great for debugging individual cases, but csv files are easier to parse for long sessions

[2020-02-19 09:57] #209 closed

[2020-02-19 10:26] alexlyttle commented on #218
I think there is definitely room to do logging and a failed runs csv. I've been storing them under the path specified by the user in `session.__init__()` and appending to the file each time a star files.

I have seen suggestions that clearing the figure before closing it is a better idea. If we had this as an option, e.g. `close_plots=True`, I will test something like this (may be better ways, jus

[2020-02-19 10:27] nielsenmb opened #220 "variable delimiters for ascii handling"
When inputting custom light curves or power spectra, currently PBjam uses genfromtxt to read the provided files. It only takes space delimited files though, this should be made a bit more flexible.

Perhaps try a few different common types of delimiters. Perhaps: space, comma and tab?

[2020-02-20 09:52] nielsenmb opened #222 "reggae UI issues"
List of issues for the reggae UI:

- [x] Should focus on the relevant area around numax (just pick min(nu_l0) to max(nu_l0) + a bit either side)
- [x] Dnu, epsilon, d02 can be fixed based on asy_peakbag output? i.e. they don't need to be in the list of sliders?
- [ ] Parameter values near for each slider
- [x] tight_layoout()
- [x] yscale seems to be fixed? Should be variable depending on star
- [

[2020-02-24 11:10] warrickball commented on #154
I haven't been able to follow the paper trail of what fixed/should have fixed this (PR #155 was closed without merging) but I've just hit this again after cloning `master`. As a reminder, here's the breaking script:

[code]
and the full terminal output:
[code]
As before, it doesn't crash like this if I set my Matplotlib backend to `TkCairo`.

Instead, it crashes with
[code]
but that's a separate i

[2020-02-25 10:21] nielsenmb commented on #138
This is is a problem description for the PBjam Hackday:

**Problem:** dnu and numax are two important input parameters in PBjam, however to a non-seismologist it may not be entirely clear how to measure these quantities or where to look them up. Furthermore we have found that PBjam is sensitive to bad estimates of dnu. The idea is to write a module that automatically and robustly measures either o

[2020-02-25 10:49] nielsenmb commented on #55
This is is a problem description for the PBjam Hackday:

**Problem:** The Gaia color index Gbp-Grp is an input parameter to PBjam. While this can be easily obtained from, e.g., the CDS, it becomes tedious when working on many stars. Furthermore to users who are less used to getting archival data this may be a bit of a barrier to using PBjam. The idea is to write a small module that automatically g

[2020-02-25 16:47] nielsenmb commented on #215
This is a problem description for the PBjam Hackday:

**Problem:** Eliminating barriers for usage is makes people more likely to use code. Some users may never have tried use seismic constraints in their modeling efforts, and it would simplify the process greatly if PBjam automatically outputs the mode frequencies in a way that modeling codes can easily digest.

**Possible Solution:** Write a smal

[2020-02-25 16:54] nielsenmb opened #223 "Write unit tests"
This is a problem description for the PBjam Hackday:

**Problem:** Currently only some of the modules in PBjam have unit tests, and those that do are probably not complete and/or tested in a sensible way.

**Possible Solution:** Have a look at some of the unit tests that are already written for PBjam, and maybe duplicate these to test other parts of PBjam. Some of these may be simple tests that ch

[2020-02-26 14:48] nielsenmb commented on #215
This is a problem description for the PBjam Hackday:

**Problem:** Eliminating barriers for usage is makes people more likely to use code. Some users may never have tried use seismic constraints in their modeling efforts, and it would simplify the process greatly if PBjam automatically outputs the mode frequencies in a way that modeling codes can easily digest.

**Possible Solution:** Write a smal

[2020-02-26 14:48] nielsenmb commented on #175
This is a problem description for the PBjam Hackday:

**Problem:** Currently PBjam just dumps all messages whether progress or error related to the terminal. For debugging purposes this is not the most optimal way of doing things. Furthermore, the error messages that PBjam produces may not always be very meaningful.

**Possible Solution:** A good first step is to make a small class or module that

[2020-02-26 17:24] alexlyttle opened #224 "Fix prior for low numax"
Stars in the prior below ~ 25 muHz could be wrong. The plot below shows the PBjam prior in black, results from PBjam in blue and independent results in orange.

![Screenshot 2020-02-26 at 17 23 27](https://user-images.githubusercontent.com/43786145/75370266-bc08a300-58bc-11ea-9fde-55879f0951ee.png)

[2020-03-03 17:08] nielsenmb opened #225 "TS flattening should be based on input numax"
In session.clean_lc() the light curve is flattened. This is currently using the default setting which I think is 401 cadences (regardless of long or short cadence).

This might have adverse effects for stars with numax at a comparable frequency (period).

The number of cadences to flatten with should be based on the input numax with a ceiling of some value (401?).

[2020-03-03 17:10] nielsenmb commented on #214
This is being fixed in a PR I'm working on.

I relation to this, need some opinions on the corner plot of the stage result in relation to prior:
At start:
![star_corner](https://user-images.githubusercontent.com/18048879/75800642-cf5eb700-5d71-11ea-8fa5-f344f785e750.png)

After KDE:
![star_kde](https://user-images.githubusercontent.com/18048879/75800586-b524d900-5d71-11ea-89c6-607150d01905.png)

A

[2020-03-04 09:44] grd349 commented on #214
Hi Martin,

Could you explain a little more.  For the data, why is the numax so bimodal?  How are you generating the black data - is it all the points from the prior or is it the output of the KDE (if it is the output of the KDE then something is not working)?

[2020-03-04 09:47] grd349 commented on #225
Agreed!  We should set the smoothing to be something like t_smooth = x / (numax) where numax is in Hz and x is some number greater than 10.  I think that makes sense. If numax is very very uncertain we should raise a warning.

[2020-03-04 09:59] nielsenmb commented on #214
Black is the prior, red is the latest stage values for the relevant parameters, so if it's called from the star class it plots the input values on top of the prior, if it's called from the KDE class it plots the KDE results etc. (doesn't work for peakbag of course). 

This star has numax at 312muHz (it's Eps Ret, a TESS target), putting it just beyond the Kepler long cadence Nyquist. 

[2020-03-05 10:24] #214 closed

[2020-03-05 10:26] nielsenmb opened #227 "plot_prior should plot the prior not the sample"
Currently the plot_prior function plots the latest stage result in relation to the prior sample.

It should probably plot the prior instead of the sample as this is a better diagnostic in case of bad fits.

[2020-03-18 18:58] grd349 commented on #227
In this context what is the prior and what is the sample.  Do we mean the samples drawn from the posterior in the first stage that then become the prior for asy_peakbag?

[2020-03-18 19:00] grd349 commented on #224
The addition of CPnest (nested sampling) to the code might help us with this.  Hold fire until cpnest is merged or work from the cpnest branch as origin.

[2020-03-18 19:00] grd349 commented on #223
Let's write lots of unit tests.  It would be nice if we could get a figure for code coverage.

[2020-03-18 19:01] grd349 commented on #222
I'll work on this.  I'm not going to make it too tidy as this is transient code but it could be improved for sure!

[2020-03-19 16:00] grd349 commented on #222
@nielsenmb

What does 'Parameter values near for each slider' mean?

[2020-03-19 16:05] nielsenmb commented on #222
Sorry, English malfunctioned when I wrote that sentence.

What I meant was what value the button on the slider is currently at. Just
to show that you're not changing dnu, say, to something completely
unreasonable.

On Thu, 19 Mar 2020 at 16:00, Guy Davies <notifications@github.com> wrote:

[2020-03-19 16:11] grd349 commented on #222
:) Understood.  I'll look to see if I can do this easily.

[2020-03-19 16:44] grd349 commented on #222
Values on sliders - It is not easy and is a luxury feature.  I'm going to close this issue and point everyone to the cpnest PR that will fix all these things except values on sliders.

[2020-03-19 16:44] #222 closed

[2020-03-19 16:47] nielsenmb commented on #222
Sure, no problem with me.

On Thu, 19 Mar 2020 at 16:44, Guy Davies <notifications@github.com> wrote:

[2020-03-26 10:37] nielsenmb opened #234 "KDE is missing store_chains option"
Could be useful for KDE to optinally store the samples drawn from the prior.

Currently asy_peakbag and peakbag can do this.

[2020-03-27 12:12] nielsenmb opened #235 "KDE should grab obs parameters from star instance"
KDE.__call__() need the obs parameters as inputs.

These should be grabbed from the star class instance if it's available in the init of KDE.

[2020-05-07 09:40] nielsenmb opened #238 "session should close open figures"
When running session with a more than 3 stars the default figure limit of 20 will be exceeded, resulting in a warning.

I don't remember having seen this issue before, but perhaps it's something to do with the echelle plotting we do now by default.

The session instance should probably close all figure elements of a star after they have been stored?

[2020-05-21 16:03] alexlyttle opened #239 "Suggestion: command-line interface"
Since the `session` class is a pretty good do-it-all script, it wouldn't be too difficult to add a command-line interface (CLI) to PBjam - useful when running on remote workstations or via job schedulers. I'd be happy to have a crack at this when I have time, converting some things from my repo https://github.com/alexlyttle/jam-ensemble (with the recent help from @nielsenmb). I have recently done

[2020-07-01 20:01] grd349 commented on #227
Bump @nielsenmb

[2020-07-01 20:02] grd349 commented on #225
Yes - we came across this agin the other day.  @nielsenmb we need a plan on this.  Shall we look at it tomorrow in WorkingWithYou?

[2020-07-01 20:03] grd349 commented on #224
@nielsenmb I think this now is recognised as fixed - would that be true and can we close this?

Thanks @alexlyttle for the great spot!

[2020-07-01 20:04] grd349 commented on #213
Related but different to #225 - we should fix both at the same time.

[2020-07-01 20:05] grd349 commented on #199
This is largely done so closing!

[2020-07-01 20:05] #199 closed

[2020-07-01 20:06] grd349 commented on #175
Of course we lost the hack day.  This is still something that should be done.  @nielsenmb @alexlyttle I invite your thoughts on how to proceed :)

[2020-07-01 20:07] grd349 commented on #169
@nielsenmb @alexlyttle  Bump - is this fixed now?

[2020-07-01 20:08] grd349 commented on #137
Has this been done now @nielsenmb ?

[2020-07-01 20:10] grd349 commented on #114
I think this might be out of date now and I have seen a number of other packages acknowledging dependencies.  We should take this seriously!  Could we produce a short latex/bibtex list of used software that others could add to their publications?

[2020-07-02 08:37] nielsenmb commented on #225
Sure

On Wed, 1 Jul 2020 at 21:02, Guy Davies <notifications@github.com> wrote:

[2020-07-02 08:38] nielsenmb commented on #224
I'd say it's still work in progress.

The deviation at 30-40muHz has been fixed, but the prior still doesn't
extend to ~10muHz which I think it should eventually.

On Wed, 1 Jul 2020 at 21:03, Guy Davies <notifications@github.com> wrote:

[2020-07-02 08:40] nielsenmb commented on #169
Don't know if it's fixed, but it might be obsolete, since the code has changed. 

I'd say run the tgt again and see if it works. 

[2020-07-02 08:44] nielsenmb commented on #137
I'd say there's still room for improving inspectr, it still doesn't show the fit results in relation to the prior for example.

I guess for now this can be closed.

[2020-07-02 08:46] nielsenmb commented on #114
Sounds like a good idea.

On Wed, 1 Jul 2020 at 21:10, Guy Davies <notifications@github.com> wrote:

[2020-07-02 08:54] alexlyttle commented on #169
I can run the code for the original issue again with updated PBjam and see if that works. Should I use CPNest?

[2020-07-02 09:08] nielsenmb commented on #169
Either should be good.

On Thu, 2 Jul 2020 at 09:55, Alex Lyttle <notifications@github.com> wrote:

[2020-07-02 09:32] alexlyttle commented on #169
It seems to work now, using CPNest here. Will try with emcee too. The prior seems to be improved down here too, even though it's a bit off from the l=0s the sampler still seems to find a sensible solution. It did have to expand the prior from ~50 stars so could explain it.

![image](https://user-images.githubusercontent.com/43786145/86341594-69fed200-bc4e-11ea-9619-e736a9ff50e9.png)

![image](http

[2020-07-02 12:30] grd349 commented on #137
Clsoing

[2020-07-02 12:30] #137 closed

[2020-07-16 08:47] nielsenmb opened #245 "spectrum plot smoothing doesn't work well for short TS"
Currently the smoothign factor is 0.1 muHz, but for short time series this is not high enough, so no smoothing is performed.

Fix this by the smoothing kernel width is at least 1-2 frequency bins.

Will be fixed in upcoming PR.

[2020-07-16 10:40] nielsenmb commented on #235
This was apparently fixed some time ago.

[2020-07-16 10:40] #235 closed

[2020-07-16 14:36] nielsenmb commented on #169
Closing this.

[2020-07-16 14:36] #169 closed

[2020-07-16 14:37] nielsenmb commented on #111
Travis CI seems to be working now.

[2020-07-16 14:37] #111 closed

[2020-07-16 15:35] nielsenmb commented on #151
I think this has been done for a while now.

[2020-07-16 15:35] #151 closed

[2020-07-20 10:46] #245 closed

[2020-07-20 12:59] nielsenmb commented on #234
Fixed in PR #246

[2020-07-20 12:59] #234 closed

[2020-07-20 13:00] nielsenmb commented on #220
Fixed in issue # 246

[2020-07-20 13:00] #220 closed

[2020-07-20 13:01] nielsenmb commented on #202
Attempted fix for this in PR #246

[2020-07-20 13:01] #202 closed

[2020-07-20 13:02] nielsenmb commented on #122
Fixed in PR #246

[2020-07-20 13:02] #122 closed

[2020-07-20 13:02] nielsenmb commented on #55
Fixed in PR #246

[2020-07-20 13:02] #55 closed

[2020-07-21 14:02] nielsenmb commented on #114
I'll make a list of all the references we use in PBjam and store them in pbjam/data/references.bib

I'll create add a method in Star, which compiles a dictionary of the software and methods/papers used. Should be possible for Session to also use this method so the reference list can be retrieved from either of the classes being used. The reference list for star and session is identical I think.

[2020-07-21 14:23] nielsenmb commented on #175
Just trying to list a few options that I can think of.

1. One log for the whole run, stored in cwd. This might get cluttered.
2. One log for the whole run, copied to all the star directories in that session. No log file in cwd. This seems neater to me.
3. A log for each star stored in the star directories. With log file for just the session part in cwd.

My idea is to print all logging levels to

[2020-07-21 15:09] grd349 commented on #175
We still want warnings sent to terminal no?  We should have logs too but I think 1 log for the whole run should be a starting point.  We can always iterate later.

[2020-07-21 15:30] nielsenmb commented on #175
Definitely, I don't know much about the logging module, but it must be
possible to pipe one level of logs to the terminal and all the levels to
the log.

On Tue, 21 Jul 2020 at 16:10, Guy Davies <notifications@github.com> wrote:

[2020-10-07 13:41] warrickball opened #249 "local variable 'tsOut' referenced before assignment when using own arrays for lightcurve data"
The following snippet
[code]
produces the error
[code]
It looks like the problem is that this option hasn't been implemented in [`session._lc_to_lk`](https://github.com/grd349/PBjam/blob/master/pbjam/session.py#L303). The main block looks like this (starting at [line 332](https://github.com/grd349/PBjam/blob/master/pbjam/session.py#L332)):

[code]
I checked the type of `tsIn` in my snippet and it

[2020-10-07 13:51] nielsenmb commented on #249
Yup, that elif line just asks if what was given is a lightkurve time series. In which case it should have just been returned. It should be passed to _sort_lc(tsOut) first though, as it does some sigma clipping and flattening if I remember correctly, so replacing pass with tsIn=tsOut should fix this issue.

[2020-10-07 14:02] warrickball commented on #249
`tsOut = tsIn` has worked for me.

[2020-10-26 12:17] nielsenmb opened #252 "PR's not completing checks"
There's still the issue with PR's not completing checks despite being approved and Travis running fine.

The only thing I can think of is this being a settings issue, since I don't think anything in the repo itself can trigger checks?

[2020-10-26 12:20] nielsenmb opened #253 "Peakbag output needs to be cleaned up."
At the moment there's lots of PyMC3 stats that are output in the peakbag_summary file. I haven't been able to figure out what they mean and if they are even relevant. The only relevant values that I understand are the mean, sd, r_hat and posterior/prior width ratio.

Can we remove them?

Also we need a general description somewhere of the outputs of each stage.

[2020-11-06 13:38] nielsenmb opened #254 "CPnest default settings need to be changed"
At the moment the maxmcmc and Nlive points values are probably too small for a high dimensional parameter space that we are using it for in asy_peakbag.

@alexelthomas did some testing and found that for high dimensions (~10), and low maxmcmc (~100) produced a normally distributed marginalized posterior for parameters that had uniform priors and likelihoods. The reason for this is most likely beca

[2020-11-06 13:42] alexelthomas commented on #254
Chris also suggested a minimum of 1000 live points and probably more like 2000

[2020-12-04 10:42] #249 closed

[2021-01-14 12:20] alexlyttle opened #256 "Cannot install PBjam in a clean Python environment"
When installing a clone of the PBjam repo in a clean python environment it fails. This is because cpnest requires numpy in the setup process but numpy has not been installed. I think this may be a cpnest issue but I wonder if there is a way of forcing setup.py to install numpy before cpnest? Note: A manual fix is to just run `pip install numpy` before `pip install pbjam` but this may explain Travi

[2021-01-14 12:31] nielsenmb commented on #256
Hmm...installing cpnest should install numpy if cpnest depends on it no?

Also, numpy appears first in the requirements.txt file, so if anything it would presumably start with numpy and work it's way through?

The Travis CI build fails were due to a version issue between Scikit-learn and the Mac OS that was being used in the Travis environment, and happened when running PyTest. The package install

[2021-01-14 12:32] alexlyttle commented on #256
The problem is cpnest imports numpy in its `setup.py` before it installs any requirements.

[2021-01-14 12:33] alexlyttle commented on #256
I don't think that the order in `requirements.txt` matters, I think it ends up being sorted in alphabetical order by pip but I may be wrong.

[2021-01-14 12:34] nielsenmb commented on #256
Sounds like a cpnest issue then.

How is it possible to install cpnest then at all if it doesn't install it's requirements first.

[2021-01-14 12:38] alexlyttle commented on #256
cpnest uses numpy in the setup process, the script that is run when you do `pip install cpnest` or `python -m setup.py`. Typically setup.py files only import base-python libraries like `os` and `setuptools`. Setuptools is what handles installing the requirements and setup.py is the script that handles the whole setup process. They use numpy in their setup process and it is a fair assumption that a

[2021-01-14 13:39] nielsenmb commented on #256
ah I assumed it was standard practice to not use any dependencies except base python stuff.

The Travis CI build that I started for PR #255 worked fine though.

It does pip install -r requirments.txt though, I donno if that behaves differently than setupy.py install

[2021-01-25 09:16] alexlyttle opened #258 "Travis CI failing for Python 3.7.1 build"
Travis-Ci getting `TypeError: Plain typing.NoReturn is not valid as type argument` for the Python 3.7.1 Linux build of PR #257. I did some digging and this is a [Python bug](https://github.com/dry-python/returns/issues/134) from 3.7.1. We should upgrade the Python version for this build as recommended by the linked issue. It has probably only just occurred due to an update in another package to ma

[2021-01-25 10:47] alexlyttle commented on #258
Here is the fully traceback. Occurs when pbjam is imported

[code]

[2021-02-23 16:03] lmcarboneau opened #259 "Development branch and Travis CI"
To address some the issues with automated testing and integration with Travis CI, I want to propose a change to everyone:

- The `main/master` branch is the current release branch; it is the public code that we recommend to users

- We create a `dev` or `WIP` branch for all current development work; **_ALL_** PRs must be made against this branch so that it doesn't affect the stability of the `main

[2021-02-23 16:09] grd349 commented on #259
Yes - agreed to all of the above.  Excellent thank @lmcarboneau !

That will put some other things on the todo list ... Update instructions for contributing - teach @grd349 how to do all of the above - others I'm sure.

Is it the still easy to pull `main` through to `dev/WIP` and then again through to the `issue257`?

[2021-02-23 16:28] lmcarboneau commented on #259
It should be yeah, it would be something like using the command `git rebase main` from whichever branch you're on.

This would come up if someone else's PR is merged before yours, so you might be in the `issue257` branch and need to run `git rebase dev` before merging; once the `dev` branch is merged into `main` for a release they'll be up-to-date with each other, but in a pinch instead of rewindi

[2021-02-23 16:43] nielsenmb commented on #259
Can we include the sketch as reference material to explain contributing
code? It's excellent.

I like this idea. It'll make it easier to match main with the PyPi version.

On Tue, 23 Feb 2021 at 16:29, Lindsey Carboneau <notifications@github.com>
wrote:

[2021-02-23 16:54] lmcarboneau commented on #259
We definitely can, I can make a more... typeset version of it too 😂

Alrighty! I'm happy to volunteer to update the contributing section as well, while I'm at it. Might be a day or two but I'll start in on it. I think the To Do list goes something like:

- [ ] Create a `dev` branch
- [ ] Rebase outstanding branches/PRs on `dev` (or merge PRs and rebase `dev` on `main` after)
- [ ] Update contribut

[2021-02-23 17:00] alexlyttle commented on #259
This all sounds good to me! Great plan @lmcarboneau 😁

If there is anything I need to do with my current PR #257 then let me know too?

Suggestion - use GitHub workflows so that a merge to `main` will automatically create a release (will need to make sure we increment the version number)? I'm happy to help or look into this aspect.

I don't think Travis ignores Draft PRs because mine was set as a

[2021-02-23 17:10] lmcarboneau commented on #259
Oooh, I like that idea, that's nice. We can make an automated release note/docs update to go with it, but maybe that's taking things a bit too far haha

I'll look into finding the settings, see if there's a way to turn it on. It should be capable of it at least, but maybe not by default. It's added to the list 😄

Sorry to be hounding your PR too, I didn't want to use #258 since I wasn't sure what

[2021-02-23 17:42] lmcarboneau commented on #259
Turns out Draft PRs used to be disabled by default for builds but a bunch of people complained so now they auto build 🙄  I don't know why there isn't a toggle switch for it. I'm not certain I know where the setting is, but there are some things to try (which will involve editing the .yaml because there's no easy toggle on the dashboard)

This is what happened to Travis, we went through our 10k cre

[2021-02-24 10:03] alexlyttle commented on #259
We could just have one linux environment with the latest version of Python (currently 3.9) and another with the earliest which we are compatible with (3.6)? We could also encourage contributors to run `pytest` on their machines when making changes as a double-check. If users can't get `pbjam` working in their environment, they should also be encouraged to leave an issue.

[2021-02-25 10:30] warrickball commented on #259
Just chipping in from the sidelines that @lmcarboneau's suggestion is a slight variant of what is now often called the ["Gitflow" workflow](https://nvie.com/posts/a-successful-git-branching-model/) (but perhaps without the `release` branches), which I think is quite common. There's also a description on [BitBucket](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) that

[2021-02-25 11:14] lmcarboneau commented on #259
That's really great, thank you @warrickball! I hadn't heard the term used before, and it didn't occur to me to go looking. I especially like that BitBucket link, I'm going to review that more closely. The suggestion was based off my fading memory of project teams in the past, so it's nice to see it all laid out and with the commands!

[2021-04-30 19:23] warrickball opened #260 "Example in documentation not working, maybe because of Lightkurve 2?"
I just tried peak bagging a star and started getting errors, so I thought I'd take a step back and at least try [the quick-start example in the documentation](https://pbjam.readthedocs.io/en/latest/example-session.html#So-lets-do-some-peakbagging-already!):
[code]
This fails with the output:
[code]
My guess is this is an issue with Lightkurve 2. For some specific versions, I'm using
* PBjam commit

[2021-05-04 10:47] nielsenmb commented on #260
Looks like it, I just upgraded to lightkurve 2 and things broke. I'll see if I can fix it and make a PR with a few other bug fixes.

[2021-05-05 13:33] nielsenmb commented on #256
This issue has been resolved by cpnest update.

[2021-05-05 13:33] #256 closed

[2021-05-20 16:19] warrickball commented on #260
I just pulled `master` and tried running the same script again. This time I get:

[code]
At least it doesn't look like a Lightkurve 2 issue anymore...
* PBjam commit 0c5591a1b1adeb2b47d078894118be4e39471cdc
* Pandas 1.2.0
* Lightkurve 2.0.9
* Python 3.9.4

[2021-05-20 16:34] nielsenmb commented on #260
I think we were a bit hasty with the PR. It's because you didn't set an
exptime on the session init, and the default setting for exptime is None
which throws an error in np.isnan().

Of course if you're supplying a time series manually you shouldn't need to
set an exptime, so I'm not entirely sure what the best solution is.

On Thu, 20 May 2021 at 17:19, Warrick Ball ***@***.***> wrote:

[2021-05-20 16:40] warrickball commented on #260
Gotcha. I just had a look at the quickstart example, which is how this started, and saw that it's been updated to include the `exptime` argument. As you say, that now works, so my issue ("quickstart example doesn't work") is resolved.

[2021-05-20 16:40] #260 closed

[2021-05-26 12:51] warrickball opened #262 ""Datatype coercion is not allowed" when creating session with custom timeseries array"
Here's a script that creates a basic timeseries of Gaussian noise in a 2×1000 array.
[code]
It fails with the following traceback:
[code]
I had a brief look around. The problem isn't the conversion of the timeseries into a Lightkurve object but rather when adding this to the `vardf` dataframe.

I just did a `git pull` so I'm using the top of `master` (commit 0c5591a). If any other versions are rel

[2021-05-26 19:50] warrickball commented on #262
@nielsenmb couldn't reproduce this in Python 3.7 and neither can I with Python 3.7.4. I do, however, hit this with Python 3.8.2 and
* NumPy 1.20.3
* Pandas 1.2.4
* Astropy 4.2.1
* Lightkurve 2.0.9

[2021-05-27 09:25] warrickball commented on #262
Creating the LightCurve object seems to be fine so I had a closer look at why assigning the timeseries that are downloaded via Lightkurve works but passing a custom timeseries doesn't. Mimicking the code in PBjam, I tried this
[code]
which is similar to the code path followed for custom timeseries and reproduces the `Datatype coercion is not allowed` error message.

If I change the last line to th

[2021-05-27 14:11] nielsenmb commented on #262
vardf[key] = object()
vardf.at[0, key] = _arr_to_lk(x, y, vardf['ID'][0], key)

seems to work on Python 3.7

[2021-11-06 04:24] darthoctopus opened #264 "manual override for ε prior?"
In some cases, the prior placed on ε during the asymptotic fitting procedure is exactly out of phase with the true locations of the radial/quadrupole-mode ridges; however, the presence of the dipole mixed-mode forest permits a "good enough" fit to nonetheless be obtained (see attached figure: [echelle.pdf](https://github.com/grd349/PBjam/files/7489874/echelle.pdf)). In such cases, it is often poss

[2021-11-08 09:39] nielsenmb commented on #264
I think we did have epsilon as an optional input initially, so I don't
think it'd be an issue to put it back in. It might also be a sensible thing
to do when it comes to updating the prior with F-type stars, which we don't
currently have a lot of.

It's just curious that for a star at ~100muHz, the prior shouldn't allow
that range of epsilon at all. Also d02 should be 0.5muHz-1.25muHz or
similar.

[2021-11-11 21:58] shenganzhang opened #265 "flaky tests when running in random order"
`pbjam/tests/test_asy_peakbag.py::test_get_modeIDs` and `pbjam/tests/test_asy_peakbag.py::test_get_summary_stats` can run into failure when executing the following commands:
`pip install pytest-randomly`
`pytest --randomly-seed=1234`

[2021-11-12 09:39] nielsenmb commented on #265
Thanks for the heads up! I didn't know pytest can randomize the tests.

That said, the tests do need to be reworked at some point, they don't cover
everything particularly well.

On Thu, 11 Nov 2021 at 21:58, shenganzhang ***@***.***> wrote: